{"openapi":"3.0.2","info":{"title":"Teal API","version":"0.1"},"servers":[{"url":"https://api.sandbox.teal.dev","description":"Sandbox"},{"url":"https://api.teal.dev","description":"Production"}],"paths":{"/v0/users/{user_id}":{"get":{"tags":["Users"],"summary":"Get User Details","description":"Get detailed information about a user.","operationId":"get_user_details_v0_users__user_id__get","parameters":[{"description":"The user ID","required":true,"schema":{"title":"User Id","type":"string","description":"The user ID"},"name":"user_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDetails"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/users/{user_id}/subscription":{"put":{"tags":["Users"],"summary":"Update Subscription","description":"Updates a user's subscription level.","operationId":"update_subscription_v0_users__user_id__subscription_put","parameters":[{"description":"The user ID","required":true,"schema":{"title":"User Id","type":"string","description":"The user ID"},"name":"user_id","in":"path"},{"description":"The new subscription level for the user.","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/SubscriptionLevel"}],"description":"The new subscription level for the user."},"name":"subscription","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/users":{"get":{"tags":["Users"],"summary":"Get Users","description":"Get all users on the platform.","operationId":"get_users_v0_users_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Get Users V0 Users Get","type":"array","items":{"$ref":"#/components/schemas/User"}}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Users"],"summary":"Create User","description":"Create a user on a platform.","operationId":"create_user_v0_users_post","parameters":[{"description":"The name of the user","required":true,"schema":{"title":"Name","type":"string","description":"The name of the user"},"name":"name","in":"query"},{"description":"The date where journal entries may start","required":false,"schema":{"title":"Entries Start","type":"string","description":"The date where journal entries may start","format":"date","default":"2023-07-08"},"name":"entries_start","in":"query"},{"description":"The chart of accounts template ID.","required":false,"schema":{"title":"Coa Template Id","type":"string","description":"The chart of accounts template ID."},"name":"coa_template_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDetails"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/journal-entries/{journal_entry_id}":{"get":{"tags":["Journal Entries"],"summary":"Get Journal Entry","description":"Gets information about a journal entry.","operationId":"get_journal_entry_v0_journal_entries__journal_entry_id__get","parameters":[{"description":"Journal entry ID","required":true,"schema":{"title":"Journal Entry Id","type":"string","description":"Journal entry ID"},"name":"journal_entry_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntry"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"put":{"tags":["Journal Entries"],"summary":"Update Journal Entry","description":"Update journal entry details or line entries. When updating line entries in the journal entry, debit and     credit amounts must equal.","operationId":"update_journal_entry_v0_journal_entries__journal_entry_id__put","parameters":[{"description":"Journal entry ID","required":true,"schema":{"title":"Journal Entry Id","type":"string","description":"Journal entry ID"},"name":"journal_entry_id","in":"path"},{"description":"The date that the journal entry occurred","required":true,"schema":{"title":"Date","type":"string","description":"The date that the journal entry occurred","format":"date"},"name":"date","in":"query"},{"description":"A description of the journal entry","required":true,"schema":{"title":"Description","type":"string","description":"A description of the journal entry"},"name":"description","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"title":"Journal Entry Update","allOf":[{"$ref":"#/components/schemas/JournalEntryUpdate"}],"description":"The journal entry update"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntry"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/users/{user_id}/journal-entries":{"get":{"tags":["Journal Entries"],"summary":"Get Journal Entries","description":"Get all journal entries for the user.","operationId":"get_journal_entries_v0_users__user_id__journal_entries_get","parameters":[{"description":"The user ID","required":true,"schema":{"title":"User Id","type":"string","description":"The user ID"},"name":"user_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Get Journal Entries V0 Users  User Id  Journal Entries Get","type":"array","items":{"$ref":"#/components/schemas/JournalEntry"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Journal Entries"],"summary":"Create Journal Entry","description":"Create a journal entry for a user.","operationId":"create_journal_entry_v0_users__user_id__journal_entries_post","parameters":[{"description":"The user ID","required":true,"schema":{"title":"User Id","type":"string","description":"The user ID"},"name":"user_id","in":"path"},{"description":"The date that the journal entry occurred","required":true,"schema":{"title":"Date","type":"string","description":"The date that the journal entry occurred","format":"date"},"name":"date","in":"query"},{"description":"A description of the journal entry","required":true,"schema":{"title":"Description","type":"string","description":"A description of the journal entry"},"name":"description","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"title":"Line Entries","type":"array","items":{"$ref":"#/components/schemas/BaseLineEntry"},"description":"Line entries in the journal entry"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntry"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/platform":{"get":{"tags":["Platform"],"summary":"Get Platform","description":"Get details about a platform","operationId":"get_platform_v0_platform_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Platform"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/journal-entries/{journal_entry_id}/line-entries":{"get":{"tags":["Line Entries"],"summary":"Get Journal Entry Line Entries","description":"Gets all the line entries in a journal entry.","operationId":"get_journal_entry_line_entries_v0_journal_entries__journal_entry_id__line_entries_get","parameters":[{"description":"Journal entry ID","required":true,"schema":{"title":"Journal Entry Id","type":"string","description":"Journal entry ID"},"name":"journal_entry_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Get Journal Entry Line Entries V0 Journal Entries  Journal Entry Id  Line Entries Get","type":"array","items":{"$ref":"#/components/schemas/LineEntry"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/line-entries/{line_entry_id}":{"put":{"tags":["Line Entries"],"summary":"Update Line Entry","description":"Update details about a line entry","operationId":"update_line_entry_v0_line_entries__line_entry_id__put","parameters":[{"description":"The line entry ID","required":true,"schema":{"title":"Line Entry Id","type":"string","description":"The line entry ID"},"name":"line_entry_id","in":"path"},{"description":"A description of the line entry","required":false,"schema":{"title":"Description","type":"string","description":"A description of the line entry"},"name":"description","in":"query"},{"description":"The ledger id","required":false,"schema":{"title":"Ledger Id","type":"string","description":"The ledger id"},"name":"ledger_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LineEntry"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/line-entries/{line_entry_id}/categories":{"get":{"tags":["Line Entries"],"summary":"Get Line Entry Categories","description":"Gets the category for a line entry. Requires Tier 1 subscription.","operationId":"get_line_entry_categories_v0_line_entries__line_entry_id__categories_get","parameters":[{"description":"The line entry ID","required":true,"schema":{"title":"Line Entry Id","type":"string","description":"The line entry ID"},"name":"line_entry_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Get Line Entry Categories V0 Line Entries  Line Entry Id  Categories Get","type":"array","items":{"type":"string"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/ledgers/{ledger_id}/line-entries":{"get":{"tags":["Line Entries"],"summary":"Get User Ledger Line Entries","description":"Return the line entries in the specified ledger for the period.","operationId":"get_user_ledger_line_entries_v0_ledgers__ledger_id__line_entries_get","parameters":[{"description":"The ledger ID","required":true,"schema":{"title":"Ledger Id","type":"string","description":"The ledger ID"},"name":"ledger_id","in":"path"},{"description":"The start date of the period, inclusive","required":true,"schema":{"title":"Start Date","type":"string","description":"The start date of the period, inclusive","format":"date"},"name":"start_date","in":"query"},{"description":"The end date of the period, inclusive","required":true,"schema":{"title":"End Date","type":"string","description":"The end date of the period, inclusive","format":"date"},"name":"end_date","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Get User Ledger Line Entries V0 Ledgers  Ledger Id  Line Entries Get","type":"array","items":{"$ref":"#/components/schemas/LineEntry"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/coa/templates":{"get":{"tags":["Chart of Accounts"],"summary":"Get Coa Templates","description":"Gets all Chart of Accounts templates for the platform.","operationId":"get_coa_templates_v0_coa_templates_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Get Coa Templates V0 Coa Templates Get","type":"array","items":{"$ref":"#/components/schemas/CoaTemplate"}}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Chart of Accounts"],"summary":"Create Coa Template","description":"Create a chart of accounts template.","operationId":"create_coa_template_v0_coa_templates_post","parameters":[{"description":"The name of the chart of account template","required":true,"schema":{"title":"Name","type":"string","description":"The name of the chart of account template"},"name":"name","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoaTemplate"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/coa/templates/{coa_template_id}":{"get":{"tags":["Chart of Accounts"],"summary":"Get Coa Template","description":"Get a detailed Chart of Account template.","operationId":"get_coa_template_v0_coa_templates__coa_template_id__get","parameters":[{"description":"The ID of the chart of accounts template","required":true,"schema":{"title":"Coa Template Id","type":"string","description":"The ID of the chart of accounts template"},"name":"coa_template_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedCoaTemplate"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Chart of Accounts"],"summary":"Delete Coa Template","description":"Delete a Chart of Accounts template.","operationId":"delete_coa_template_v0_coa_templates__coa_template_id__delete","parameters":[{"description":"The ID of the ledger template","required":true,"schema":{"title":"Coa Template Id","type":"string","description":"The ID of the ledger template"},"name":"coa_template_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/coa/templates/{coa_template_id}/ledgers":{"post":{"tags":["Chart of Accounts"],"summary":"Create Ledger Template","description":"Create a ledger template in a Chart of Accounts template.","operationId":"create_ledger_template_v0_coa_templates__coa_template_id__ledgers_post","parameters":[{"description":"The ID of the chart of accounts template.","required":true,"schema":{"title":"Coa Template Id","type":"string","description":"The ID of the chart of accounts template."},"name":"coa_template_id","in":"path"},{"description":"The name of the ledger template","required":true,"schema":{"title":"Name","type":"string","description":"The name of the ledger template"},"name":"name","in":"query"},{"description":"The type of the ledger template.","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/LedgerTypeEnum"}],"description":"The type of the ledger template."},"name":"ledger_type","in":"query"},{"description":"The debit or credit type of the ledger template.","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/DebitCreditEnum"}],"description":"The debit or credit type of the ledger template."},"name":"debit_credit","in":"query"},{"description":"The sort code of the ledger template.","required":true,"schema":{"title":"Sort Code","type":"integer","description":"The sort code of the ledger template."},"name":"sort_code","in":"query"},{"description":"Whether the ledger is user editable.","required":true,"schema":{"title":"User Editable","type":"boolean","description":"Whether the ledger is user editable."},"name":"user_editable","in":"query"},{"description":"Whether the ledger is a cashflow ledger.","required":true,"schema":{"title":"Is Cash","type":"boolean","description":"Whether the ledger is a cashflow ledger."},"name":"is_cash","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedgerTemplate"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/coa/templates/ledgers/{ledger_template_id}":{"delete":{"tags":["Chart of Accounts"],"summary":"Delete Ledger Template","description":"Create a total ledger template in a Chart of Accounts template.","operationId":"delete_ledger_template_v0_coa_templates_ledgers__ledger_template_id__delete","parameters":[{"description":"The ID of the ledger template.","required":true,"schema":{"title":"Ledger Template Id","type":"string","description":"The ID of the ledger template."},"name":"ledger_template_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/coa/templates/{coa_template_id}/total-ledgers":{"post":{"tags":["Chart of Accounts"],"summary":"Create Total Ledger Template","description":"Create a total ledger template for a Chart of Accounts template.","operationId":"create_total_ledger_template_v0_coa_templates__coa_template_id__total_ledgers_post","parameters":[{"description":"The ID of the chart of accounts template.","required":true,"schema":{"title":"Coa Template Id","type":"string","description":"The ID of the chart of accounts template."},"name":"coa_template_id","in":"path"},{"description":"The name of the total ledger.","required":true,"schema":{"title":"Name","type":"string","description":"The name of the total ledger."},"name":"name","in":"query"},{"description":"The type of the total ledger.","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/TotalLedgerTypeEnum"}],"description":"The type of the total ledger."},"name":"ledger_type","in":"query"},{"description":"The debit or credit type of the total ledger.","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/DebitCreditEnum"}],"description":"The debit or credit type of the total ledger."},"name":"debit_credit","in":"query"},{"description":"The sort code of the total ledger.","required":true,"schema":{"title":"Sort Code","type":"integer","description":"The sort code of the total ledger."},"name":"sort_code","in":"query"},{"description":"The start code of the total ledger range.","required":true,"schema":{"title":"Start Code","type":"integer","description":"The start code of the total ledger range."},"name":"start_code","in":"query"},{"description":"The end code of the total ledger range.","required":true,"schema":{"title":"End Code","type":"integer","description":"The end code of the total ledger range."},"name":"end_code","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotalLedgerTemplate"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/coa/templates/total-ledgers/{total_ledger_template_id}":{"delete":{"tags":["Chart of Accounts"],"summary":"Delete Total Ledger Template","description":"Deletes a total ledger template.","operationId":"delete_total_ledger_template_v0_coa_templates_total_ledgers__total_ledger_template_id__delete","parameters":[{"description":"The ID of the total ledger template","required":true,"schema":{"title":"Total Ledger Template Id","type":"string","description":"The ID of the total ledger template"},"name":"total_ledger_template_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/categorization/rules":{"get":{"tags":["Categorization"],"summary":"Get Rules","description":"Get all the categorization rules for the platform.","operationId":"get_rules_v0_categorization_rules_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Get Rules V0 Categorization Rules Get","type":"array","items":{"$ref":"#/components/schemas/CategorizationRule"}}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Categorization"],"summary":"Create Rule","description":"Creates a new categorization rule.","operationId":"create_rule_v0_categorization_rules_post","parameters":[{"description":"The name of the rule.","required":true,"schema":{"title":"Name","type":"string","description":"The name of the rule."},"name":"name","in":"query"},{"description":"The expression to match on transactions.","required":true,"schema":{"title":"Expression","type":"string","description":"The expression to match on transactions."},"name":"expression","in":"query"},{"description":"The priority of the rule.","required":true,"schema":{"title":"Priority","type":"integer","description":"The priority of the rule."},"name":"priority","in":"query"},{"description":"The name of the destination ledger.","required":true,"schema":{"title":"Ledger Name","type":"string","description":"The name of the destination ledger."},"name":"ledger_name","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorizationRule"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/categorization/rules/{rule_id}":{"delete":{"tags":["Categorization"],"summary":"Delete Rule","description":"Deletes a categorization rule.","operationId":"delete_rule_v0_categorization_rules__rule_id__delete","parameters":[{"description":"The categorization rule ID","required":true,"schema":{"title":"Rule Id","type":"string","description":"The categorization rule ID"},"name":"rule_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/users/{user_id}/ledgers":{"get":{"tags":["Ledgers"],"summary":"Get Ledgers","description":"Return all ledger for a user.","operationId":"get_ledgers_v0_users__user_id__ledgers_get","parameters":[{"description":"The user ID","required":true,"schema":{"title":"User Id","type":"string","description":"The user ID"},"name":"user_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Get Ledgers V0 Users  User Id  Ledgers Get","type":"array","items":{"$ref":"#/components/schemas/Ledger"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Ledgers"],"summary":"Create Ledger","description":"Create a ledger for a user.","operationId":"create_ledger_v0_users__user_id__ledgers_post","parameters":[{"description":"The user ID","required":true,"schema":{"title":"User Id","type":"string","description":"The user ID"},"name":"user_id","in":"path"},{"description":"The ledger sort code. This determines the display order in reports","required":true,"schema":{"title":"Sort Code","type":"integer","description":"The ledger sort code. This determines the display order in reports"},"name":"sort_code","in":"query"},{"description":"The name of the ledger","required":true,"schema":{"title":"Name","type":"string","description":"The name of the ledger"},"name":"name","in":"query"},{"description":"The type of ledger","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/LedgerTypeEnum"}],"description":"The type of ledger"},"name":"ledger_type","in":"query"},{"description":"Debit or credit amounts are interpreted as positive","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/DebitCreditEnum"}],"description":"Debit or credit amounts are interpreted as positive"},"name":"debit_credit","in":"query"},{"description":"Whether this ledger represent a cashflow account","required":true,"schema":{"title":"Is Cash","type":"boolean","description":"Whether this ledger represent a cashflow account"},"name":"is_cash","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Ledger"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/users/{user_id}/total-ledgers":{"get":{"tags":["Ledgers"],"summary":"Get Total Ledgers","description":"Get all total ledgers for a user.","operationId":"get_total_ledgers_v0_users__user_id__total_ledgers_get","parameters":[{"description":"The user ID","required":true,"schema":{"title":"User Id","type":"string","description":"The user ID"},"name":"user_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Get Total Ledgers V0 Users  User Id  Total Ledgers Get","type":"array","items":{"$ref":"#/components/schemas/TotalLedger"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Ledgers"],"summary":"Create Total Ledger","description":"Create a total ledger for a user. A total ledger represents a total of multiple ledgers,     specified by a range of sort codes","operationId":"create_total_ledger_v0_users__user_id__total_ledgers_post","parameters":[{"description":"The user ID.","required":true,"schema":{"title":"User Id","type":"string","description":"The user ID."},"name":"user_id","in":"path"},{"description":"The ledger sort code. This determines the display order in reports.","required":true,"schema":{"title":"Sort Code","type":"integer","description":"The ledger sort code. This determines the display order in reports."},"name":"sort_code","in":"query"},{"description":"The name of the total ledger.","required":true,"schema":{"title":"Name","type":"string","description":"The name of the total ledger."},"name":"name","in":"query"},{"description":"The type of ledger.","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/TotalLedgerTypeEnum"}],"description":"The type of ledger."},"name":"total_type","in":"query"},{"description":"Debit or credit amounts are interpreted as positive.","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/DebitCreditEnum"}],"description":"Debit or credit amounts are interpreted as positive."},"name":"debit_credit","in":"query"},{"description":"The sort code for the start of the range, inclusive.","required":true,"schema":{"title":"Start Code","type":"integer","description":"The sort code for the start of the range, inclusive."},"name":"start_code","in":"query"},{"description":"The sort code for the end of the range, inclusive.","required":true,"schema":{"title":"End Code","type":"integer","description":"The sort code for the end of the range, inclusive."},"name":"end_code","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotalLedger"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/reports/users/{user_id}/income-statement":{"get":{"tags":["Reports"],"summary":"Get Income Statement","description":"Return an income statement containing an array of ledger summaries for the user. Requires Tier 2 subscription.","operationId":"get_income_statement_v0_reports_users__user_id__income_statement_get","parameters":[{"description":"The user ID","required":true,"schema":{"title":"User Id","type":"string","description":"The user ID"},"name":"user_id","in":"path"},{"description":"The start date of the report, inclusive","required":true,"schema":{"title":"Start Date","type":"string","description":"The start date of the report, inclusive","format":"date"},"name":"start_date","in":"query"},{"description":"The end date of the report, inclusive","required":true,"schema":{"title":"End Date","type":"string","description":"The end date of the report, inclusive","format":"date"},"name":"end_date","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncomeStatement"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/reports/users/{user_id}/balance-sheet":{"get":{"tags":["Reports"],"summary":"Get Balance Sheet","description":"Return a balance sheet containing an array of ledger summaries for the user. Requires Tier 2 subscription.","operationId":"get_balance_sheet_v0_reports_users__user_id__balance_sheet_get","parameters":[{"description":"The user ID","required":true,"schema":{"title":"User Id","type":"string","description":"The user ID"},"name":"user_id","in":"path"},{"description":"Balance as of the end date, inclusive","required":true,"schema":{"title":"End Date","type":"string","description":"Balance as of the end date, inclusive","format":"date"},"name":"end_date","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BalanceSheet"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/reports/ledgers/{ledger_id}/ledger-statement":{"get":{"tags":["Reports"],"summary":"Get Ledger Statement","description":"Return a ledger statement for the user, containing the opening/closing balances with line entries     for the period.","operationId":"get_ledger_statement_v0_reports_ledgers__ledger_id__ledger_statement_get","parameters":[{"description":"The ledger ID","required":true,"schema":{"title":"Ledger Id","type":"string","description":"The ledger ID"},"name":"ledger_id","in":"path"},{"description":"The start date of the ledger statement, inclusive","required":true,"schema":{"title":"Start Date","type":"string","description":"The start date of the ledger statement, inclusive","format":"date"},"name":"start_date","in":"query"},{"description":"The end date of the ledger statement, inclusive","required":true,"schema":{"title":"End Date","type":"string","description":"The end date of the ledger statement, inclusive","format":"date"},"name":"end_date","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedgerStatement"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/reports/users/{user_id}/cashflow-statement":{"get":{"tags":["Reports"],"summary":"Get Cashflow Statement","description":"Get the cashflow statement for a user within for a period. Requires Tier 1 subscription.","operationId":"get_cashflow_statement_v0_reports_users__user_id__cashflow_statement_get","parameters":[{"description":"The user ID","required":true,"schema":{"title":"User Id","type":"string","description":"The user ID"},"name":"user_id","in":"path"},{"description":"The start date of the cashflow statement, inclusive","required":true,"schema":{"title":"Start Date","type":"string","description":"The start date of the cashflow statement, inclusive","format":"date"},"name":"start_date","in":"query"},{"description":"The end date of the cashflow statement, inclusive","required":true,"schema":{"title":"End Date","type":"string","description":"The end date of the cashflow statement, inclusive","format":"date"},"name":"end_date","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CashflowStatement"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}}},"components":{"schemas":{"BalanceSheet":{"title":"BalanceSheet","required":["summaries"],"type":"object","properties":{"summaries":{"title":"Summaries","type":"array","items":{"$ref":"#/components/schemas/LedgerSummary"}}}},"BaseLineEntry":{"title":"BaseLineEntry","required":["ledger_id","amount","debit_credit"],"type":"object","properties":{"ledger_id":{"title":"Ledger Id","type":"string","example":"FZo8uxfiKS9AZ6N6Eujwut"},"amount":{"title":"Amount","type":"number","example":382.28},"debit_credit":{"$ref":"#/components/schemas/DebitCreditEnum"},"description":{"title":"Description","type":"string","description":"Description of a line entry."}}},"CashLedgerBalance":{"title":"CashLedgerBalance","required":["ledger_id","ledger_name","debit_balance"],"type":"object","properties":{"ledger_id":{"title":"Ledger Id","type":"string","example":"FwLHD46VLJXx87oStFW7uz"},"ledger_name":{"title":"Ledger Name","type":"string","example":"Savings Account 3822"},"debit_balance":{"title":"Debit Balance","type":"number","example":3822.83}}},"CashflowLedger":{"title":"CashflowLedger","required":["ledger_id","name","credit_total","lines"],"type":"object","properties":{"ledger_id":{"title":"Ledger Id","type":"string","example":"Jg8XPxz23f2XtHKPFsocrX"},"name":{"title":"Name","type":"string","description":"The name of the ledger."},"credit_total":{"title":"Credit Total","type":"number","description":"The sum credit amount of the ledger."},"lines":{"title":"Lines","type":"array","items":{"$ref":"#/components/schemas/CashflowLineEntry"}}}},"CashflowLineEntry":{"title":"CashflowLineEntry","required":["line_id","journal_entry_id","journal_entry_description","credit_amount","date"],"type":"object","properties":{"line_id":{"title":"Line Id","type":"string","example":"AVwBwWUkSAdR8oPwnVj3Rg"},"journal_entry_id":{"title":"Journal Entry Id","type":"string","example":"SC73Q4V2MKsX8rAimPv4qs"},"journal_entry_description":{"title":"Journal Entry Description","type":"string","example":"Payment for contractor"},"cash_ledger_name":{"title":"Cash Ledger Name","type":"string","default":"Credit Card 3821"},"credit_amount":{"title":"Credit Amount","type":"number","description":"The credit amount of the line entry.","example":-2938.28},"date":{"title":"Date","type":"string","description":"The date that the line entry occurred.","format":"date"}}},"CashflowStatement":{"title":"CashflowStatement","required":["starting_debit_balance","starting_balances","ending_debit_balance","ending_balances","cashflow_ledgers"],"type":"object","properties":{"starting_debit_balance":{"title":"Starting Debit Balance","type":"number","example":23282.12},"starting_balances":{"title":"Starting Balances","type":"array","items":{"$ref":"#/components/schemas/CashLedgerBalance"}},"ending_debit_balance":{"title":"Ending Debit Balance","type":"number","example":28182.42},"ending_balances":{"title":"Ending Balances","type":"array","items":{"$ref":"#/components/schemas/CashLedgerBalance"}},"cashflow_ledgers":{"title":"Cashflow Ledgers","type":"array","items":{"$ref":"#/components/schemas/CashflowLedger"}}}},"CategorizationRule":{"title":"CategorizationRule","required":["id","name","expression","priority","ledger_name"],"type":"object","properties":{"id":{"title":"Id","type":"string","example":"N6ntpvTtiA4L31vVyVat5n"},"name":{"title":"Name","type":"string","example":"Fuel Expenses"},"expression":{"title":"Expression","type":"string","example":"t.description == Fuel"},"priority":{"title":"Priority","type":"integer","example":100},"ledger_name":{"title":"Ledger Name","type":"string","example":"Fuel Expenses"}}},"CoaTemplate":{"title":"CoaTemplate","required":["id","name"],"type":"object","properties":{"id":{"title":"Id","type":"string","example":"PpvsmFEv14yGDyT6iV6kXw"},"name":{"title":"Name","type":"string","example":"Coffee Shop Sole Prop"}}},"DebitCreditEnum":{"title":"DebitCreditEnum","enum":["debit","credit"],"type":"string","description":"An enumeration."},"DetailedCoaTemplate":{"title":"DetailedCoaTemplate","required":["id","name","ledgers","total_ledgers"],"type":"object","properties":{"id":{"title":"Id","type":"string","example":"PpvsmFEv14yGDyT6iV6kXw"},"name":{"title":"Name","type":"string","example":"Coffee Shop Sole Prop"},"ledgers":{"title":"Ledgers","type":"array","items":{"$ref":"#/components/schemas/LedgerTemplate"},"description":"A list of ledgers that are included in this chart of accounts."},"total_ledgers":{"title":"Total Ledgers","type":"array","items":{"$ref":"#/components/schemas/TotalLedgerTemplate"},"description":"A list of total ledgers that are included in this chart of accounts."}}},"HTTPValidationError":{"title":"HTTPValidationError","type":"object","properties":{"detail":{"title":"Detail","type":"array","items":{"$ref":"#/components/schemas/ValidationError"}}}},"IncomeStatement":{"title":"IncomeStatement","required":["summaries"],"type":"object","properties":{"summaries":{"title":"Summaries","type":"array","items":{"$ref":"#/components/schemas/LedgerSummary"}}}},"JournalEntry":{"title":"JournalEntry","required":["id","description","date"],"type":"object","properties":{"id":{"title":"Id","type":"string","example":"C4ocnUQze8kDwQ3EczkZXn"},"description":{"title":"Description","type":"string","example":"Payment of legal fees"},"date":{"title":"Date","type":"string","description":"Date that the journal entry occurred","format":"date"}}},"JournalEntryUpdate":{"title":"JournalEntryUpdate","required":["new_line_entries","updated_line_entries"],"type":"object","properties":{"new_line_entries":{"title":"New Line Entries","type":"array","items":{"$ref":"#/components/schemas/BaseLineEntry"}},"updated_line_entries":{"title":"Updated Line Entries","type":"object","additionalProperties":{"$ref":"#/components/schemas/LineEntryUpdate"},"description":"A map containing the journal entry id as     the key and object with the updated parameters as the value","example":{"4CazYnSU3DBbyTv2QdLZ1D":{"amount":10.65}}}}},"Ledger":{"title":"Ledger","required":["id","sort_code","name","debit_credit","user_editable","is_required"],"type":"object","properties":{"id":{"title":"Id","type":"string","example":"7JRNsKwy2Lw66caxVU7WGC"},"sort_code":{"title":"Sort Code","type":"integer","example":2003},"name":{"title":"Name","type":"string","example":"Accounts Receivable"},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCreditEnum"}],"description":"Debit or credit amount is interpreted as a positive value."},"user_editable":{"title":"User Editable","type":"boolean","description":"Indicates whether line entries in this ledger may be edited by the user."},"is_required":{"title":"Is Required","type":"boolean","description":"Indicates whether this ledger is required to exist for the user."}}},"LedgerStatement":{"title":"LedgerStatement","required":["ledger_id","start_date","end_date","name","type","debit_credit","amount","opening_balance","closing_balance","lines"],"type":"object","properties":{"ledger_id":{"title":"Ledger Id","type":"string","example":"2SkTUgtBTy86PHLyiUCdeD"},"start_date":{"title":"Start Date","type":"string","description":"The inclusive start date of the statement.","format":"date","example":"2022-01-01"},"end_date":{"title":"End Date","type":"string","description":"The inclusive end date of the statement.","format":"date","example":"2022-03-31"},"name":{"title":"Name","type":"string","description":"The name of this statement's ledger.","example":"Cost of Goods Sold"},"type":{"$ref":"#/components/schemas/LedgerTypeEnum"},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCreditEnum"}],"description":"Debit or credit amount is interpreted as a positive value"},"amount":{"title":"Amount","type":"number","description":"The sum of line entry amounts in the statement for the statement period.","example":1328.28},"opening_balance":{"title":"Opening Balance","type":"number","description":"The balance just before the statement period.","example":2837.28},"closing_balance":{"title":"Closing Balance","type":"number","description":"The balance at the end of the statement period.","example":4165.56},"lines":{"title":"Lines","type":"array","items":{"$ref":"#/components/schemas/LineEntry"}}}},"LedgerSummary":{"title":"LedgerSummary","required":["sort_code","name","amount","debit_credit"],"type":"object","properties":{"sort_code":{"title":"Sort Code","type":"integer","example":1002},"name":{"title":"Name","type":"string","example":"Cost of Goods Sold"},"amount":{"title":"Amount","type":"number","example":10237.23},"ledger_id":{"title":"Ledger Id","type":"string","description":"If this summary represents a total of multiple ledgers,                                   this value will be null.","example":"KFuaw1XRBKx9aYU6LodsDN"},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCreditEnum"}],"description":"Debit or credit amount is interpreted as a positive value"}}},"LedgerTemplate":{"title":"LedgerTemplate","required":["id","name","type","debit_credit","sort_code","user_editable","is_cash","is_required"],"type":"object","properties":{"id":{"title":"Id","type":"string","example":"DHyQ8EFqVWPDujU9dKRsyw"},"name":{"title":"Name","type":"string","example":"Cost of Goods Sold"},"type":{"allOf":[{"$ref":"#/components/schemas/LedgerTypeEnum"}],"example":"expense"},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCreditEnum"}],"example":"debit"},"sort_code":{"title":"Sort Code","type":"integer","example":2003},"user_editable":{"title":"User Editable","type":"boolean","description":"Indicates whether this ledger may be edited by the user."},"is_cash":{"title":"Is Cash","type":"boolean","description":"Indicates whether this ledger is a cashflow ledger."},"is_required":{"title":"Is Required","type":"boolean","description":"Indicates whether this ledger is required to exist in the template."}}},"LedgerTypeEnum":{"title":"LedgerTypeEnum","enum":["asset","liability","equity","revenue","expense"],"type":"string","description":"An enumeration."},"LineEntry":{"title":"LineEntry","required":["ledger_id","amount","debit_credit","id","journal_entry_id","journal_entry_description","ledger_name","user_editable","date"],"type":"object","properties":{"ledger_id":{"title":"Ledger Id","type":"string","example":"FZo8uxfiKS9AZ6N6Eujwut"},"amount":{"title":"Amount","type":"number","example":382.28},"debit_credit":{"$ref":"#/components/schemas/DebitCreditEnum"},"description":{"title":"Description","type":"string","description":"Description of a line entry."},"id":{"title":"Id","type":"string","example":"XMDsKVuW4Wmi3LTW31Qw6E"},"journal_entry_id":{"title":"Journal Entry Id","type":"string","example":"JFqZgayQehL9wBbyLrGd4A"},"journal_entry_description":{"title":"Journal Entry Description","type":"string","example":"Payment for dog food."},"ledger_name":{"title":"Ledger Name","type":"string","example":"Cost of Goods Sold"},"user_editable":{"title":"User Editable","type":"boolean","description":"Indicates whether this line entry may be edited by the user."},"date":{"title":"Date","type":"string","description":"The date that the line entry occurred.","format":"date"}}},"LineEntryUpdate":{"title":"LineEntryUpdate","type":"object","properties":{"amount":{"title":"Amount","type":"number"}}},"Platform":{"title":"Platform","required":["id","name"],"type":"object","properties":{"id":{"title":"Id","type":"string","example":"Va5Zc9NAP46aYXEmki8Hb1"},"name":{"title":"Name","type":"string","example":"Pauly's Pet Palace"}}},"SubscriptionLevel":{"title":"SubscriptionLevel","enum":["tier0","tier1","tier2"],"type":"string","description":"An enumeration."},"TotalLedger":{"title":"TotalLedger","required":["id","sort_code","name","start_code","end_code","debit_credit"],"type":"object","properties":{"id":{"title":"Id","type":"string","description":"The total ledger ID"},"sort_code":{"title":"Sort Code","type":"integer","description":"The sort code. This determines the display order in reports."},"name":{"title":"Name","type":"string","description":"The name of the ledger."},"start_code":{"title":"Start Code","type":"integer","description":"The sort code that specifies the start of the range of ledgers to include in the total."},"end_code":{"title":"End Code","type":"integer","description":"The sort code that specifies the end of the range of ledgers to include in the total."},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCreditEnum"}],"description":"Debit or credit amount is interpreted as a positive value."}}},"TotalLedgerTemplate":{"title":"TotalLedgerTemplate","required":["id","name","type","sort_code","debit_credit","start_code","end_code"],"type":"object","properties":{"id":{"title":"Id","type":"string","example":"HFjuAgjWQ5ZFHQYaHitPgz"},"name":{"title":"Name","type":"string","example":"Total Revenue"},"type":{"allOf":[{"$ref":"#/components/schemas/LedgerTypeEnum"}],"example":"revenue"},"sort_code":{"title":"Sort Code","type":"integer","example":2999},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCreditEnum"}],"example":"debit"},"start_code":{"title":"Start Code","type":"integer","example":2000},"end_code":{"title":"End Code","type":"integer","example":2999}}},"TotalLedgerTypeEnum":{"title":"TotalLedgerTypeEnum","enum":["asset","liability","equity","revenue","expense","income"],"type":"string","description":"An enumeration."},"User":{"title":"User","required":["id","name"],"type":"object","properties":{"id":{"title":"Id","type":"string","example":"RKtPbubK5NcbBsUmU1ktSP"},"name":{"title":"Name","type":"string","example":"City Center Veterinarian"}}},"UserDetails":{"title":"UserDetails","required":["id","name","subscription","entries_start","num_transactions"],"type":"object","properties":{"id":{"title":"Id","type":"string","example":"QhAnDBvCX1CUgB8cAjXEgf"},"name":{"title":"Name","type":"string","example":"John Doe"},"subscription":{"allOf":[{"$ref":"#/components/schemas/SubscriptionLevel"}],"example":"tier1"},"entries_start":{"title":"Entries Start","type":"string","format":"date"},"first_transaction_date":{"title":"First Transaction Date","type":"string","format":"date"},"last_transaction_date":{"title":"Last Transaction Date","type":"string","format":"date"},"num_transactions":{"title":"Num Transactions","type":"integer"}}},"ValidationError":{"title":"ValidationError","required":["loc","msg","type"],"type":"object","properties":{"loc":{"title":"Location","type":"array","items":{"anyOf":[{"type":"string"},{"type":"integer"}]}},"msg":{"title":"Message","type":"string"},"type":{"title":"Error Type","type":"string"}}}},"securitySchemes":{"OAuth2PasswordBearer":{"type":"oauth2","flows":{"password":{"scopes":{},"tokenUrl":"https://developer.teal.dev"}}}}}}