{"openapi":"3.1.0","info":{"title":"Teal API","version":"0.1"},"servers":[{"url":"https://api.sandbox.teal.dev","description":"Sandbox"},{"url":"https://api.teal.dev","description":"Production"}],"paths":{"/v0/users/{user_id}":{"get":{"tags":["Users"],"summary":"Get User Details","description":"Get detailed information about a user.","operationId":"get_user_details_v0_users__user_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","description":"The user ID","title":"User Id"},"description":"The user ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDetails"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/users/{user_id}/subscription":{"put":{"tags":["Users"],"summary":"Update Subscription","description":"Updates a user's subscription level.","operationId":"update_subscription_v0_users__user_id__subscription_put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","description":"The user ID","title":"User Id"},"description":"The user ID"},{"name":"subscription","in":"query","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/SubscriptionLevel"}],"description":"The new subscription level for the user.","title":"Subscription"},"description":"The new subscription level for the user."}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/users":{"get":{"tags":["Users"],"summary":"Get Users","description":"Get all users on the platform.","operationId":"get_users_v0_users_get","security":[{"OAuth2PasswordBearer":[]}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"},"title":"Response Get Users V0 Users Get"}}}}}},"post":{"tags":["Users"],"summary":"Create User","description":"Create a user on a platform.","operationId":"create_user_v0_users_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string","description":"The name of the user","title":"Name"},"description":"The name of the user"},{"name":"entries_start","in":"query","required":true,"schema":{"type":"string","format":"date-time","description":"The datetime when journal entries may start","title":"Entries Start"},"description":"The datetime when journal entries may start"},{"name":"coa_template_id","in":"query","required":true,"schema":{"type":"string","description":"The chart of accounts template ID.","title":"Coa Template Id"},"description":"The chart of accounts template ID."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDetails"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/journal-entries/{journal_entry_id}":{"get":{"tags":["Journal Entries"],"summary":"Get Journal Entry","description":"Gets information about a journal entry.","operationId":"get_journal_entry_v0_journal_entries__journal_entry_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"journal_entry_id","in":"path","required":true,"schema":{"type":"string","description":"Journal entry ID","title":"Journal Entry Id"},"description":"Journal entry ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntry"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Journal Entries"],"summary":"Update Journal Entry","description":"Update journal entry details or line entries. When updating line entries in the journal entry, debit and     credit amounts must equal.","operationId":"update_journal_entry_v0_journal_entries__journal_entry_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"journal_entry_id","in":"path","required":true,"schema":{"type":"string","description":"Journal entry ID","title":"Journal Entry Id"},"description":"Journal entry ID"},{"name":"datetime","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"The datetime that the journal entry occurred","title":"Datetime"},"description":"The datetime that the journal entry occurred"},{"name":"description","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"A description of the journal entry","title":"Description"},"description":"A description of the journal entry"}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/LineEntryChanges"},{"type":"null"}],"description":"The line entry changes","title":"Line Entry Changes"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntry"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/users/{user_id}/journal-entries":{"get":{"tags":["Journal Entries"],"summary":"Get Journal Entries","description":"Get all journal entries for the user.","operationId":"get_journal_entries_v0_users__user_id__journal_entries_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","description":"The user ID","title":"User Id"},"description":"The user ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JournalEntry"},"title":"Response Get Journal Entries V0 Users  User Id  Journal Entries Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Journal Entries"],"summary":"Create Journal Entry","description":"Create a journal entry for a user.","operationId":"create_journal_entry_v0_users__user_id__journal_entries_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","description":"The user ID","title":"User Id"},"description":"The user ID"},{"name":"datetime","in":"query","required":true,"schema":{"type":"string","format":"date-time","description":"The date that the journal entry occurred","title":"Datetime"},"description":"The date that the journal entry occurred"},{"name":"description","in":"query","required":true,"schema":{"type":"string","description":"A description of the journal entry","title":"Description"},"description":"A description of the journal entry"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BaseLineEntry"},"description":"Line entries in the journal entry","title":"Line Entries"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntry"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/platform":{"get":{"tags":["Platform"],"summary":"Get Platform","description":"Get details about a platform","operationId":"get_platform_v0_platform_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Platform"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/journal-entries/{journal_entry_id}/line-entries":{"get":{"tags":["Line Entries"],"summary":"Get Journal Entry Line Entries","description":"Gets all the line entries in a journal entry.","operationId":"get_journal_entry_line_entries_v0_journal_entries__journal_entry_id__line_entries_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"journal_entry_id","in":"path","required":true,"schema":{"type":"string","description":"Journal entry ID","title":"Journal Entry Id"},"description":"Journal entry ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DetailedLineEntry"},"title":"Response Get Journal Entry Line Entries V0 Journal Entries  Journal Entry Id  Line Entries Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/line-entries/{line_entry_id}":{"put":{"tags":["Line Entries"],"summary":"Update Line Entry","description":"Update details about a line entry","operationId":"update_line_entry_v0_line_entries__line_entry_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"line_entry_id","in":"path","required":true,"schema":{"type":"string","description":"The line entry ID","title":"Line Entry Id"},"description":"The line entry ID"},{"name":"description","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"A description of the line entry","title":"Description"},"description":"A description of the line entry"},{"name":"ledger_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The ledger id","title":"Ledger Id"},"description":"The ledger id"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedLineEntry"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/line-entries/{line_entry_id}/categories":{"get":{"tags":["Line Entries"],"summary":"Get Line Entry Categories","description":"Gets the category (associated ledger) for a line entry. Requires Tier 1 subscription.","operationId":"get_line_entry_categories_v0_line_entries__line_entry_id__categories_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"line_entry_id","in":"path","required":true,"schema":{"type":"string","description":"The line entry ID","title":"Line Entry Id"},"description":"The line entry ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"title":"Response Get Line Entry Categories V0 Line Entries  Line Entry Id  Categories Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/ledgers/{ledger_id}/line-entries":{"get":{"tags":["Line Entries"],"summary":"Get Ledger Line Entries","description":"Return the line entries in the specified ledger for the period.","operationId":"get_ledger_line_entries_v0_ledgers__ledger_id__line_entries_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_id","in":"path","required":true,"schema":{"type":"string","description":"The ledger ID","title":"Ledger Id"},"description":"The ledger ID"},{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The start date of the period, inclusive","title":"Start Date"},"description":"The start date of the period, inclusive"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The end date of the period, inclusive","title":"End Date"},"description":"The end date of the period, inclusive"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DetailedLineEntry"},"title":"Response Get Ledger Line Entries V0 Ledgers  Ledger Id  Line Entries Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/sources/unit/links":{"post":{"tags":["Transaction Sources"],"summary":"Link Unit Account","description":"Link a ledger to a Unit account.","operationId":"link_unit_account_v0_sources_unit_links_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_id","in":"query","required":true,"schema":{"type":"string","description":"The ledger ID","title":"Ledger Id"},"description":"The ledger ID"},{"name":"unit_account_id","in":"query","required":true,"schema":{"type":"string","description":"The unit account ID","title":"Unit Account Id"},"description":"The unit account ID"}],"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/coa/templates":{"post":{"tags":["Chart of Accounts"],"summary":"Create Coa Template","description":"Create a chart of accounts template.","operationId":"create_coa_template_v0_coa_templates_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string","description":"The name of the chart of account template","title":"Name"},"description":"The name of the chart of account template"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoaTemplate"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Chart of Accounts"],"summary":"Get Coa Templates","description":"Gets all Chart of Accounts templates for the platform.","operationId":"get_coa_templates_v0_coa_templates_get","security":[{"OAuth2PasswordBearer":[]}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CoaTemplate"},"title":"Response Get Coa Templates V0 Coa Templates Get"}}}}}}},"/v0/coa/templates/{coa_template_id}":{"get":{"tags":["Chart of Accounts"],"summary":"Get Coa Template","description":"Get a detailed Chart of Account template.","operationId":"get_coa_template_v0_coa_templates__coa_template_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"coa_template_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the chart of accounts template","title":"Coa Template Id"},"description":"The ID of the chart of accounts template"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedCoaTemplate"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Chart of Accounts"],"summary":"Delete Coa Template","description":"Delete a Chart of Accounts template.","operationId":"delete_coa_template_v0_coa_templates__coa_template_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"coa_template_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the ledger template","title":"Coa Template Id"},"description":"The ID of the ledger template"}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/coa/templates/{coa_template_id}/clone":{"post":{"tags":["Chart of Accounts"],"summary":"Clone Coa Template","description":"Get a detailed Chart of Account template.","operationId":"clone_coa_template_v0_coa_templates__coa_template_id__clone_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"coa_template_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the chart of accounts template","title":"Coa Template Id"},"description":"The ID of the chart of accounts template"},{"name":"name","in":"query","required":true,"schema":{"type":"string","description":"The name of the chart of accounts template","title":"Name"},"description":"The name of the chart of accounts template"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoaTemplate"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/coa/templates/{coa_template_id}/ledgers":{"post":{"tags":["Chart of Accounts"],"summary":"Create Ledger Template","description":"Create a ledger template in a Chart of Accounts template.","operationId":"create_ledger_template_v0_coa_templates__coa_template_id__ledgers_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"coa_template_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the chart of accounts template.","title":"Coa Template Id"},"description":"The ID of the chart of accounts template."},{"name":"name","in":"query","required":true,"schema":{"type":"string","description":"The name of the ledger template","title":"Name"},"description":"The name of the ledger template"},{"name":"ledger_type","in":"query","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/LedgerType"}],"description":"The type of the ledger template.","title":"Ledger Type"},"description":"The type of the ledger template."},{"name":"debit_credit","in":"query","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/DebitCredit"}],"description":"The debit or credit type of the ledger template.","title":"Debit Credit"},"description":"The debit or credit type of the ledger template."},{"name":"sort_code","in":"query","required":true,"schema":{"type":"string","maxLength":20,"pattern":"^[0-9]+$","description":"The sort code of the ledger template.","title":"Sort Code"},"description":"The sort code of the ledger template."},{"name":"user_editable","in":"query","required":true,"schema":{"type":"boolean","description":"Whether the ledger is user editable.","title":"User Editable"},"description":"Whether the ledger is user editable."},{"name":"report_cash_flow","in":"query","required":true,"schema":{"type":"boolean","description":"Whether entries in the ledger should be included in the cash flow report.","title":"Report Cash Flow"},"description":"Whether entries in the ledger should be included in the cash flow report."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedgerTemplate"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/coa/templates/ledgers/{ledger_template_id}":{"put":{"tags":["Chart of Accounts"],"summary":"Update Ledger Template","description":"Update a ledger template in a Chart of Accounts template.","operationId":"update_ledger_template_v0_coa_templates_ledgers__ledger_template_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_template_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the ledger template.","title":"Ledger Template Id"},"description":"The ID of the ledger template."},{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The new name of the ledger template","title":"Name"},"description":"The new name of the ledger template"},{"name":"sort_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":20,"pattern":"^[0-9]+$"},{"type":"null"}],"description":"The new sort code of the ledger template.","title":"Sort Code"},"description":"The new sort code of the ledger template."}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Chart of Accounts"],"summary":"Delete Ledger Template","description":"Create a total ledger template in a Chart of Accounts template.","operationId":"delete_ledger_template_v0_coa_templates_ledgers__ledger_template_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_template_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the ledger template.","title":"Ledger Template Id"},"description":"The ID of the ledger template."}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/coa/templates/{coa_template_id}/total-ledgers":{"post":{"tags":["Chart of Accounts"],"summary":"Create Total Ledger Template","description":"Create a total ledger template for a Chart of Accounts template.","operationId":"create_total_ledger_template_v0_coa_templates__coa_template_id__total_ledgers_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"coa_template_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the chart of accounts template.","title":"Coa Template Id"},"description":"The ID of the chart of accounts template."},{"name":"name","in":"query","required":true,"schema":{"type":"string","description":"The name of the total ledger.","title":"Name"},"description":"The name of the total ledger."},{"name":"ledger_type","in":"query","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/TotalLedgerType"}],"description":"The type of the total ledger.","title":"Ledger Type"},"description":"The type of the total ledger."},{"name":"debit_credit","in":"query","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/DebitCredit"}],"description":"The debit or credit type of the total ledger.","title":"Debit Credit"},"description":"The debit or credit type of the total ledger."},{"name":"sort_code","in":"query","required":true,"schema":{"type":"string","maxLength":20,"pattern":"^[0-9]+$","description":"The sort code of the total ledger.","title":"Sort Code"},"description":"The sort code of the total ledger."},{"name":"start_code","in":"query","required":true,"schema":{"type":"string","maxLength":20,"pattern":"^[0-9]+$","description":"The start code of the total ledger range.","title":"Start Code"},"description":"The start code of the total ledger range."},{"name":"end_code","in":"query","required":true,"schema":{"type":"string","maxLength":20,"pattern":"^[0-9]+$","description":"The end code of the total ledger range.","title":"End Code"},"description":"The end code of the total ledger range."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotalLedgerTemplate"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/coa/templates/total-ledgers/{total_ledger_template_id}":{"put":{"tags":["Chart of Accounts"],"summary":"Update Total Ledger Template","description":"Update a total ledger template in a Chart of Accounts template.","operationId":"update_total_ledger_template_v0_coa_templates_total_ledgers__total_ledger_template_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"total_ledger_template_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the total ledger template","title":"Total Ledger Template Id"},"description":"The ID of the total ledger template"},{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The new name of the ledger template","title":"Name"},"description":"The new name of the ledger template"},{"name":"sort_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":20,"pattern":"^[0-9]+$"},{"type":"null"}],"description":"The new sort code of the ledger template.","title":"Sort Code"},"description":"The new sort code of the ledger template."},{"name":"start_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":20,"pattern":"^[0-9]+$"},{"type":"null"}],"description":"The start code of the total ledger range.","title":"Start Code"},"description":"The start code of the total ledger range."},{"name":"end_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":20,"pattern":"^[0-9]+$"},{"type":"null"}],"description":"The end code of the total ledger range.","title":"End Code"},"description":"The end code of the total ledger range."}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Chart of Accounts"],"summary":"Delete Total Ledger Template","description":"Deletes a total ledger template.","operationId":"delete_total_ledger_template_v0_coa_templates_total_ledgers__total_ledger_template_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"total_ledger_template_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the total ledger template","title":"Total Ledger Template Id"},"description":"The ID of the total ledger template"}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/categorization/rules":{"get":{"tags":["Categorization"],"summary":"Get Rules","description":"Get all the categorization rules for the platform.","operationId":"get_rules_v0_categorization_rules_get","security":[{"OAuth2PasswordBearer":[]}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategorizationRule"},"title":"Response Get Rules V0 Categorization Rules Get"}}}}}},"post":{"tags":["Categorization"],"summary":"Create Rule","description":"Creates a new categorization rule.","operationId":"create_rule_v0_categorization_rules_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string","description":"The name of the rule.","title":"Name"},"description":"The name of the rule."},{"name":"expression","in":"query","required":true,"schema":{"type":"string","description":"The expression to match on transactions.","title":"Expression"},"description":"The expression to match on transactions."},{"name":"priority","in":"query","required":true,"schema":{"type":"integer","description":"The priority of the rule.","title":"Priority"},"description":"The priority of the rule."},{"name":"ledger_name","in":"query","required":true,"schema":{"type":"string","description":"The name of the destination ledger.","title":"Ledger Name"},"description":"The name of the destination ledger."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorizationRule"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/categorization/rules/{rule_id}":{"delete":{"tags":["Categorization"],"summary":"Delete Rule","description":"Deletes a categorization rule.","operationId":"delete_rule_v0_categorization_rules__rule_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"rule_id","in":"path","required":true,"schema":{"type":"string","description":"The categorization rule ID","title":"Rule Id"},"description":"The categorization rule ID"}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/users/{user_id}/ledgers":{"get":{"tags":["Ledgers"],"summary":"Get Ledgers","description":"Return all ledger for a user.","operationId":"get_ledgers_v0_users__user_id__ledgers_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","description":"The user ID","title":"User Id"},"description":"The user ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Ledger"},"title":"Response Get Ledgers V0 Users  User Id  Ledgers Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Ledgers"],"summary":"Create Ledger","description":"Create a ledger for a user.","operationId":"create_ledger_v0_users__user_id__ledgers_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","description":"The user ID","title":"User Id"},"description":"The user ID"},{"name":"sort_code","in":"query","required":true,"schema":{"type":"string","maxLength":20,"pattern":"^[0-9]+$","description":"The ledger sort code. This determines the display order in reports","title":"Sort Code"},"description":"The ledger sort code. This determines the display order in reports"},{"name":"name","in":"query","required":true,"schema":{"type":"string","description":"The name of the ledger","title":"Name"},"description":"The name of the ledger"},{"name":"ledger_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/LedgerType"},{"type":"null"}],"description":"The type of ledger","title":"Ledger Type"},"description":"The type of ledger"},{"name":"debit_credit","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DebitCredit"},{"type":"null"}],"description":"Debit or credit amounts are interpreted as positive","title":"Debit Credit"},"description":"Debit or credit amounts are interpreted as positive"},{"name":"financial_account_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/FinancialAccountType"},{"type":"null"}],"description":"The type of financial account","title":"Financial Account Type"},"description":"The type of financial account"},{"name":"report_cash_flow","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Whether entries in the ledger should be included in the cash flow report.","title":"Report Cash Flow"},"description":"Whether entries in the ledger should be included in the cash flow report."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Ledger"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/ledgers/{ledger_id}":{"put":{"tags":["Ledgers"],"summary":"Update Ledger","description":"Update a ledger for a user.","operationId":"update_ledger_v0_ledgers__ledger_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_id","in":"path","required":true,"schema":{"type":"string","description":"The ledger ID","title":"Ledger Id"},"description":"The ledger ID"},{"name":"sort_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":20,"pattern":"^[0-9]+$"},{"type":"null"}],"description":"The new ledger sort code","title":"Sort Code"},"description":"The new ledger sort code"},{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The new name of the ledger","title":"Name"},"description":"The new name of the ledger"}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/total-ledgers/{ledger_id}":{"put":{"tags":["Ledgers"],"summary":"Update Total Ledger","description":"Update a total ledger for a user.","operationId":"update_total_ledger_v0_total_ledgers__ledger_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_id","in":"path","required":true,"schema":{"type":"string","description":"The ledger ID","title":"Ledger Id"},"description":"The ledger ID"},{"name":"sort_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":20,"pattern":"^[0-9]+$"},{"type":"null"}],"description":"The new ledger sort code","title":"Sort Code"},"description":"The new ledger sort code"},{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The new name of the ledger","title":"Name"},"description":"The new name of the ledger"},{"name":"start_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":20,"pattern":"^[0-9]+$"},{"type":"null"}],"description":"The new sort code for the start of the range, inclusive.","title":"Start Code"},"description":"The new sort code for the start of the range, inclusive."},{"name":"end_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":20,"pattern":"^[0-9]+$"},{"type":"null"}],"description":"The new sort code for the end of the range, inclusive.","title":"End Code"},"description":"The new sort code for the end of the range, inclusive."}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/users/{user_id}/total-ledgers":{"post":{"tags":["Ledgers"],"summary":"Create Total Ledger","description":"Create a total ledger for a user. A total ledger represents a total of multiple ledgers,     specified by a range of sort codes","operationId":"create_total_ledger_v0_users__user_id__total_ledgers_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","description":"The user ID.","title":"User Id"},"description":"The user ID."},{"name":"sort_code","in":"query","required":true,"schema":{"type":"string","maxLength":20,"pattern":"^[0-9]+$","description":"The ledger sort code. This determines the display order in reports.","title":"Sort Code"},"description":"The ledger sort code. This determines the display order in reports."},{"name":"name","in":"query","required":true,"schema":{"type":"string","description":"The name of the total ledger.","title":"Name"},"description":"The name of the total ledger."},{"name":"total_type","in":"query","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/TotalLedgerType"}],"description":"The type of ledger.","title":"Total Type"},"description":"The type of ledger."},{"name":"debit_credit","in":"query","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/DebitCredit"}],"description":"Debit or credit amounts are interpreted as positive.","title":"Debit Credit"},"description":"Debit or credit amounts are interpreted as positive."},{"name":"start_code","in":"query","required":true,"schema":{"type":"string","maxLength":20,"pattern":"^[0-9]+$","description":"The sort code for the start of the range, inclusive.","title":"Start Code"},"description":"The sort code for the start of the range, inclusive."},{"name":"end_code","in":"query","required":true,"schema":{"type":"string","maxLength":20,"pattern":"^[0-9]+$","description":"The sort code for the end of the range, inclusive.","title":"End Code"},"description":"The sort code for the end of the range, inclusive."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotalLedger"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Ledgers"],"summary":"Get Total Ledgers","description":"Get all total ledgers for a user.","operationId":"get_total_ledgers_v0_users__user_id__total_ledgers_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","description":"The user ID","title":"User Id"},"description":"The user ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TotalLedger"},"title":"Response Get Total Ledgers V0 Users  User Id  Total Ledgers Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/ledgers/{ledger_id}/opening-balance":{"post":{"tags":["Ledgers"],"summary":"Set Ledger Opening Balance","description":"Sets the opening balance for a ledger. The ledger must not have any line entries.","operationId":"set_ledger_opening_balance_v0_ledgers__ledger_id__opening_balance_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_id","in":"path","required":true,"schema":{"type":"string","description":"The ledger ID","title":"Ledger Id"},"description":"The ledger ID"},{"name":"balance","in":"query","required":true,"schema":{"anyOf":[{"type":"number","description":"The opening balance for the ledger"},{"type":"string","description":"The opening balance for the ledger"}],"title":"Balance"},"description":"The opening balance for the ledger"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntry"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/reports/users/{user_id}/income-statement":{"get":{"tags":["Reports"],"summary":"Get Income Statement","description":"Return an income statement containing an array of ledger summaries for the user. Requires Tier 1 subscription.","operationId":"get_income_statement_v0_reports_users__user_id__income_statement_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","description":"The user ID","title":"User Id"},"description":"The user ID"},{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The start date of the report, inclusive","title":"Start Date"},"description":"The start date of the report, inclusive"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The end date of the report, inclusive","title":"End Date"},"description":"The end date of the report, inclusive"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncomeStatement"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/reports/users/{user_id}/balance-sheet":{"get":{"tags":["Reports"],"summary":"Get Balance Sheet","description":"Return a balance sheet containing an array of ledger summaries for the user. Requires Tier 2 subscription.","operationId":"get_balance_sheet_v0_reports_users__user_id__balance_sheet_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","description":"The user ID","title":"User Id"},"description":"The user ID"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"Balance as of the end date, inclusive","title":"End Date"},"description":"Balance as of the end date, inclusive"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BalanceSheet"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/reports/ledgers/{ledger_id}/ledger-statement":{"get":{"tags":["Reports"],"summary":"Get Ledger Statement","description":"Return a ledger statement for the user, containing the opening/closing balances with line entries     for the period.","operationId":"get_ledger_statement_v0_reports_ledgers__ledger_id__ledger_statement_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_id","in":"path","required":true,"schema":{"type":"string","description":"The ledger ID","title":"Ledger Id"},"description":"The ledger ID"},{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The start date of the ledger statement, inclusive","title":"Start Date"},"description":"The start date of the ledger statement, inclusive"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The end date of the ledger statement, inclusive","title":"End Date"},"description":"The end date of the ledger statement, inclusive"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedgerStatement"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/reports/users/{user_id}/cash-flow-report":{"get":{"tags":["Reports"],"summary":"Get Cash Flow Report","description":"Get the cash flow report for a user within for a period. Requires Tier 1 subscription.","operationId":"get_cash_flow_report_v0_reports_users__user_id__cash_flow_report_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","description":"The user ID","title":"User Id"},"description":"The user ID"},{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The start date of the cash flow report, inclusive","title":"Start Date"},"description":"The start date of the cash flow report, inclusive"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The end date of the cash flow report, inclusive","title":"End Date"},"description":"The end date of the cash flow report, inclusive"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CashFlowReport"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/ledgers/{ledger_id}/transactions":{"post":{"tags":["Transactions"],"summary":"Create Transactions","description":"Creates uncategorized transactions in a ledger.","operationId":"create_transactions_v0_ledgers__ledger_id__transactions_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_id","in":"path","required":true,"schema":{"type":"string","description":"The ledger ID where transactions will be created. The ledger must have a financial account type","title":"Ledger Id"},"description":"The ledger ID where transactions will be created. The ledger must have a financial account type"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"},"description":"The transactions to be created","title":"Transactions"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Transactions"],"summary":"Get Transactions","description":"Deletes a transaction and the associated journal entry from the ledger sorted by time in descending order.","operationId":"get_transactions_v0_ledgers__ledger_id__transactions_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_id","in":"path","required":true,"schema":{"type":"string","description":"The ID for the ledger that contains the transactions.","title":"Ledger Id"},"description":"The ID for the ledger that contains the transactions."},{"name":"offset","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"The offset for the first result of the page","default":0,"title":"Offset"},"description":"The offset for the first result of the page"},{"name":"count","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"The count of max results per page","default":100,"title":"Count"},"description":"The count of max results per page"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionPage"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/transactions/status/{processing_id}":{"get":{"tags":["Transactions"],"summary":"Get Transaction Processing Status","description":"Checks the status of processing transactions.","operationId":"get_transaction_processing_status_v0_transactions_status__processing_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"processing_id","in":"path","required":true,"schema":{"type":"string","description":"The ID for the batch of transactions that are being processed","title":"Processing Id"},"description":"The ID for the batch of transactions that are being processed"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0/ledgers/{ledger_id}/transactions/{transaction_id}":{"delete":{"tags":["Transactions"],"summary":"Delete Transaction","description":"Deletes a transaction and the associated journal entry from the ledger.","operationId":"delete_transaction_v0_ledgers__ledger_id__transactions__transaction_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_id","in":"path","required":true,"schema":{"type":"string","description":"The ID for the ledger that contains the transactions.","title":"Ledger Id"},"description":"The ID for the ledger that contains the transactions."},{"name":"transaction_id","in":"path","required":true,"schema":{"type":"string","description":"The ID for the transaction to be deleted.","title":"Transaction Id"},"description":"The ID for the transaction to be deleted."}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"BalanceSheet":{"properties":{"summaries":{"items":{"$ref":"#/components/schemas/LedgerSummary"},"type":"array","title":"Summaries"}},"type":"object","required":["summaries"],"title":"BalanceSheet"},"BaseLineEntry":{"properties":{"ledger_id":{"type":"string","title":"Ledger Id","example":"FZo8uxfiKS9AZ6N6Eujwut"},"amount":{"anyOf":[{"type":"number"},{"type":"string"}],"title":"Amount","example":382.28},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCredit"}],"description":"Whether the amount is a credit or debit.","example":"credit"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Description of a line entry."}},"type":"object","required":["ledger_id","amount","debit_credit"],"title":"BaseLineEntry"},"CashFlowLedger":{"properties":{"ledger_id":{"type":"string","title":"Ledger Id","example":"Jg8XPxz23f2XtHKPFsocrX"},"name":{"type":"string","title":"Name","description":"The name of the ledger.","example":"Credit Card 3821"},"debit_total":{"anyOf":[{"type":"number"},{"type":"string"}],"title":"Debit Total","description":"The sum debit amount of the ledger.","example":-1032.23},"lines":{"items":{"$ref":"#/components/schemas/CashFlowLineEntry"},"type":"array","title":"Lines"}},"type":"object","required":["ledger_id","name","debit_total","lines"],"title":"CashFlowLedger"},"CashFlowLineEntry":{"properties":{"line_id":{"type":"string","title":"Line Id","example":"AVwBwWUkSAdR8oPwnVj3Rg"},"journal_entry_id":{"type":"string","title":"Journal Entry Id","example":"SC73Q4V2MKsX8rAimPv4qs"},"journal_entry_description":{"type":"string","title":"Journal Entry Description","example":"Payment for contractor"},"cash_ledger_name":{"type":"string","title":"Cash Ledger Name","example":"Credit Card 3821"},"debit_amount":{"anyOf":[{"type":"number"},{"type":"string"}],"title":"Debit Amount","description":"The debit amount of the line entry.","example":-2938.28},"datetime":{"type":"string","format":"date-time","title":"Datetime","description":"The datetime that the line entry occurred.","example":"2022-01-01T00:00:00Z"}},"type":"object","required":["line_id","journal_entry_id","journal_entry_description","cash_ledger_name","debit_amount","datetime"],"title":"CashFlowLineEntry"},"CashFlowReport":{"properties":{"starting_debit_balance":{"anyOf":[{"type":"number"},{"type":"string"}],"title":"Starting Debit Balance","example":23282.12},"starting_balances":{"items":{"$ref":"#/components/schemas/CashLedgerBalance"},"type":"array","title":"Starting Balances"},"ending_debit_balance":{"anyOf":[{"type":"number"},{"type":"string"}],"title":"Ending Debit Balance","example":28182.42},"ending_balances":{"items":{"$ref":"#/components/schemas/CashLedgerBalance"},"type":"array","title":"Ending Balances"},"cash_flow_ledgers":{"items":{"$ref":"#/components/schemas/CashFlowLedger"},"type":"array","title":"Cash Flow Ledgers"}},"type":"object","required":["starting_debit_balance","starting_balances","ending_debit_balance","ending_balances","cash_flow_ledgers"],"title":"CashFlowReport"},"CashLedgerBalance":{"properties":{"ledger_id":{"type":"string","title":"Ledger Id","example":"FwLHD46VLJXx87oStFW7uz"},"ledger_name":{"type":"string","title":"Ledger Name","example":"Savings Account 3822"},"debit_balance":{"anyOf":[{"type":"number"},{"type":"string"}],"title":"Debit Balance","example":3822.83}},"type":"object","required":["ledger_id","ledger_name","debit_balance"],"title":"CashLedgerBalance"},"CategorizationRule":{"properties":{"id":{"type":"string","title":"Id","example":"N6ntpvTtiA4L31vVyVat5n"},"name":{"type":"string","title":"Name","example":"Fuel Expenses"},"expression":{"type":"string","title":"Expression","example":"t.description == Fuel"},"priority":{"type":"integer","title":"Priority","example":100},"ledger_name":{"type":"string","title":"Ledger Name","example":"Fuel Expenses"}},"type":"object","required":["id","name","expression","priority","ledger_name"],"title":"CategorizationRule"},"CoaTemplate":{"properties":{"id":{"type":"string","title":"Id","example":"PpvsmFEv14yGDyT6iV6kXw"},"name":{"type":"string","title":"Name","example":"Coffee Shop Sole Prop"}},"type":"object","required":["id","name"],"title":"CoaTemplate"},"DebitCredit":{"type":"string","enum":["debit","credit"],"title":"DebitCredit"},"DetailedCoaTemplate":{"properties":{"id":{"type":"string","title":"Id","example":"PpvsmFEv14yGDyT6iV6kXw"},"name":{"type":"string","title":"Name","example":"Coffee Shop Sole Prop"},"ledgers":{"items":{"$ref":"#/components/schemas/LedgerTemplate"},"type":"array","title":"Ledgers","description":"A list of ledgers that are included in this chart of accounts."},"total_ledgers":{"items":{"$ref":"#/components/schemas/TotalLedgerTemplate"},"type":"array","title":"Total Ledgers","description":"A list of total ledgers that are included in this chart of accounts."}},"type":"object","required":["id","name","ledgers","total_ledgers"],"title":"DetailedCoaTemplate"},"DetailedLineEntry":{"properties":{"ledger_id":{"type":"string","title":"Ledger Id","example":"FZo8uxfiKS9AZ6N6Eujwut"},"amount":{"anyOf":[{"type":"number"},{"type":"string"}],"title":"Amount","example":382.28},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCredit"}],"description":"Whether the amount is a credit or debit.","example":"credit"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Description of a line entry."},"transaction_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Transaction Id","description":"The transaction ID associated with the line entry."},"related_line_entry_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Related Line Entry Id","description":"The line entry ID of a related line entry."},"id":{"type":"string","title":"Id","example":"XMDsKVuW4Wmi3LTW31Qw6E"},"journal_entry_id":{"type":"string","title":"Journal Entry Id","example":"JFqZgayQehL9wBbyLrGd4A"},"journal_entry_description":{"type":"string","title":"Journal Entry Description","example":"Payment for dog food."},"ledger_name":{"type":"string","title":"Ledger Name","example":"Cost of Goods Sold"},"user_editable":{"type":"boolean","title":"User Editable","description":"Indicates whether this line entry may be edited by the user."},"datetime":{"type":"string","format":"date-time","title":"Datetime","description":"The datetime that the line entry occurred."}},"type":"object","required":["ledger_id","amount","debit_credit","id","journal_entry_id","journal_entry_description","ledger_name","user_editable","datetime"],"title":"DetailedLineEntry"},"FinancialAccountType":{"type":"string","enum":["bank_account","credit_card","payments","payroll","loan","prepaid_card","accounts_receivable","accounts_payable"],"title":"FinancialAccountType"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"IncomeStatement":{"properties":{"summaries":{"items":{"$ref":"#/components/schemas/LedgerSummary"},"type":"array","title":"Summaries"}},"type":"object","required":["summaries"],"title":"IncomeStatement"},"JournalEntry":{"properties":{"id":{"type":"string","title":"Id","example":"C4ocnUQze8kDwQ3EczkZXn"},"description":{"type":"string","title":"Description","example":"Payment of legal fees"},"datetime":{"type":"string","format":"date-time","title":"Datetime","description":"Date that the journal entry occurred","example":"2022-01-01T00:00:00Z"}},"type":"object","required":["id","description","datetime"],"title":"JournalEntry"},"Ledger":{"properties":{"id":{"type":"string","title":"Id","example":"7JRNsKwy2Lw66caxVU7WGC"},"sort_code":{"type":"string","title":"Sort Code","example":"2003"},"name":{"type":"string","title":"Name","example":"Accounts Receivable"},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCredit"}],"description":"Whether the amount is a credit or debit.","example":"debit"},"user_editable":{"type":"boolean","title":"User Editable","description":"Indicates whether line entries in this ledger may be edited by the user.","example":false},"financial_account_type":{"anyOf":[{"$ref":"#/components/schemas/FinancialAccountType"},{"type":"null"}],"description":"The type of financial account represented by the ledger."},"is_required":{"type":"boolean","title":"Is Required","description":"Indicates whether this is a required ledger for all users.","example":false},"report_cash_flow":{"type":"boolean","title":"Report Cash Flow","description":"Indicates entries in the ledger should be included in the cash flow report.","example":false}},"type":"object","required":["id","sort_code","name","debit_credit","user_editable","is_required","report_cash_flow"],"title":"Ledger"},"LedgerStatement":{"properties":{"ledger_id":{"type":"string","title":"Ledger Id","example":"2SkTUgtBTy86PHLyiUCdeD"},"start_date":{"type":"string","format":"date","title":"Start Date","description":"The inclusive start date of the statement.","example":"2022-01-01"},"end_date":{"type":"string","format":"date","title":"End Date","description":"The inclusive end date of the statement.","example":"2022-03-31"},"name":{"type":"string","title":"Name","description":"The name of this statement's ledger.","example":"Cost of Goods Sold"},"type":{"allOf":[{"$ref":"#/components/schemas/LedgerType"}],"example":"asset"},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCredit"}],"description":"Whether the amount is a credit or debit.","example":"credit"},"amount":{"anyOf":[{"type":"number"},{"type":"string"}],"title":"Amount","description":"The sum of line entry amounts in the statement for the statement period.","example":1328.28},"opening_balance":{"anyOf":[{"type":"number"},{"type":"string"}],"title":"Opening Balance","description":"The balance just before the statement period.","example":2837.28},"closing_balance":{"anyOf":[{"type":"number"},{"type":"string"}],"title":"Closing Balance","description":"The balance at the end of the statement period.","example":4165.56},"lines":{"items":{"$ref":"#/components/schemas/DetailedLineEntry"},"type":"array","title":"Lines"}},"type":"object","required":["ledger_id","start_date","end_date","name","type","debit_credit","amount","opening_balance","closing_balance","lines"],"title":"LedgerStatement"},"LedgerSummary":{"properties":{"sort_code":{"type":"string","title":"Sort Code","example":"1002"},"name":{"type":"string","title":"Name","example":"Cost of Goods Sold"},"amount":{"anyOf":[{"type":"number"},{"type":"string"}],"title":"Amount","example":10237.23},"ledger_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ledger Id","description":"If this summary represents a total of multiple ledgers, this value will be null.","example":"KFuaw1XRBKx9aYU6LodsDN"},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCredit"}],"description":"Whether the amount is a credit or debit.","example":"credit"}},"type":"object","required":["sort_code","name","amount","debit_credit"],"title":"LedgerSummary"},"LedgerTemplate":{"properties":{"id":{"type":"string","title":"Id","example":"DHyQ8EFqVWPDujU9dKRsyw"},"name":{"type":"string","title":"Name","example":"Cost of Goods Sold"},"type":{"allOf":[{"$ref":"#/components/schemas/LedgerType"}],"example":"expense"},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCredit"}],"example":"debit"},"sort_code":{"type":"string","title":"Sort Code","example":"2003"},"user_editable":{"type":"boolean","title":"User Editable","description":"Indicates whether this ledger may be edited by the user.","example":true},"report_cash_flow":{"type":"boolean","title":"Report Cash Flow","description":"Indicates entries in the ledger should be included in the cash flow report.","example":true},"is_required":{"type":"boolean","title":"Is Required","description":"Indicates whether this ledger is required to exist in the template.","example":false}},"type":"object","required":["id","name","type","debit_credit","sort_code","user_editable","report_cash_flow","is_required"],"title":"LedgerTemplate"},"LedgerType":{"type":"string","enum":["asset","liability","equity","revenue","expense","profit"],"title":"LedgerType"},"LineEntryChanges":{"properties":{"create":{"items":{"$ref":"#/components/schemas/BaseLineEntry"},"type":"array","title":"Create","description":"New line entries to be created"},"update":{"items":{"$ref":"#/components/schemas/LineEntryUpdate"},"type":"array","title":"Update","description":"Line entry updates"}},"type":"object","required":["create","update"],"title":"LineEntryChanges"},"LineEntryUpdate":{"properties":{"id":{"type":"string","title":"Id","description":"The ID of the line entry to update."},"amount":{"anyOf":[{"type":"number"},{"type":"string"},{"type":"null"}],"title":"Amount","description":"The updated amount of the line entry."},"debit_credit":{"anyOf":[{"$ref":"#/components/schemas/DebitCredit"},{"type":"null"}],"description":"Whether the amount is a credit or debit.","example":"credit"}},"type":"object","required":["id"],"title":"LineEntryUpdate"},"Platform":{"properties":{"id":{"type":"string","title":"Id","example":"Va5Zc9NAP46aYXEmki8Hb1"},"name":{"type":"string","title":"Name","example":"Pauly's Pet Palace"}},"type":"object","required":["id","name"],"title":"Platform"},"SubscriptionLevel":{"type":"string","enum":["tier0","tier1","tier2"],"title":"SubscriptionLevel"},"TotalLedger":{"properties":{"id":{"type":"string","title":"Id","description":"The total ledger ID","example":"DJFdr2hfdVpcafojJy3Ynr"},"sort_code":{"type":"string","title":"Sort Code","description":"The sort code. This determines the display order in reports.","example":"2999"},"name":{"type":"string","title":"Name","description":"The name of the ledger.","example":"Net Income"},"start_code":{"type":"string","title":"Start Code","description":"The sort code that specifies the start of the range of ledgers to include in the total.","example":"2001"},"end_code":{"type":"string","title":"End Code","description":"The sort code that specifies the end of the range of ledgers to include in the total.","example":"2299"},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCredit"}],"description":"Debit or credit amount is interpreted as a positive value.","example":"debit"}},"type":"object","required":["id","sort_code","name","start_code","end_code","debit_credit"],"title":"TotalLedger"},"TotalLedgerTemplate":{"properties":{"id":{"type":"string","title":"Id","example":"HFjuAgjWQ5ZFHQYaHitPgz"},"name":{"type":"string","title":"Name","example":"Total Revenue"},"type":{"allOf":[{"$ref":"#/components/schemas/TotalLedgerType"}],"example":"revenue"},"sort_code":{"type":"string","title":"Sort Code","example":"2999"},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCredit"}],"example":"debit"},"start_code":{"type":"string","title":"Start Code","example":"2000"},"end_code":{"type":"string","title":"End Code","example":"2999"}},"type":"object","required":["id","name","type","sort_code","debit_credit","start_code","end_code"],"title":"TotalLedgerTemplate"},"TotalLedgerType":{"type":"string","enum":["asset","liability","equity","revenue","expense","profit"],"title":"TotalLedgerType"},"Transaction":{"properties":{"id":{"type":"string","title":"Id","description":"The ID of the transaction. The ID is unique per ledger.","example":"t_9237232"},"description":{"type":"string","title":"Description","example":"Shell Gas Bar 4124"},"datetime":{"type":"string","format":"date-time","title":"Datetime","description":"Datetime of the transaction.","example":"2022-01-01T00:00:00Z"},"amount":{"anyOf":[{"type":"number"},{"type":"string"}],"title":"Amount","example":100.0},"metadata":{"anyOf":[{"additionalProperties":{"type":"string"},"type":"object"},{"type":"null"}],"title":"Metadata","description":"Any metadata that you would like to associate with the transaction. This metadata will be available to the auto-categorization pipeline for assistance in properly categorizing the transaction automatically. This metadata is entirely configurable by you; this parameter will accept any key-value pairs you care to submit with the transaction for later use.","example":{"location":"TX, USA","vendor_type":"Gas station"}}},"type":"object","required":["id","description","datetime","amount"],"title":"Transaction"},"TransactionPage":{"properties":{"total_transactions":{"type":"integer","title":"Total Transactions","description":"The number of total transactions"},"transactions":{"items":{"$ref":"#/components/schemas/Transaction"},"type":"array","title":"Transactions","description":"A list of transaction"}},"type":"object","required":["total_transactions","transactions"],"title":"TransactionPage"},"User":{"properties":{"id":{"type":"string","title":"Id","example":"RKtPbubK5NcbBsUmU1ktSP"},"name":{"type":"string","title":"Name","example":"City Center Veterinarian"}},"type":"object","required":["id","name"],"title":"User"},"UserDetails":{"properties":{"id":{"type":"string","title":"Id","example":"QhAnDBvCX1CUgB8cAjXEgf"},"name":{"type":"string","title":"Name","example":"John Doe"},"subscription":{"allOf":[{"$ref":"#/components/schemas/SubscriptionLevel"}],"example":"tier1"},"entries_start":{"type":"string","format":"date-time","title":"Entries Start","description":"The earliest possible datetime for the user's journal entries","example":"2022-01-01T00:00:00Z"},"first_transaction_datetime":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"First Transaction Datetime","description":"The datetime of the first transaction."},"last_transaction_datetime":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Transaction Datetime","description":"The datetime of the last transaction."},"num_transactions":{"type":"integer","title":"Num Transactions","description":"The number of transactions for the user.","example":"0"}},"type":"object","required":["id","name","subscription","entries_start","num_transactions"],"title":"UserDetails"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"OAuth2PasswordBearer":{"type":"oauth2","flows":{"password":{"scopes":{},"tokenUrl":"https://developer.teal.dev"}}}}}}
