{"openapi":"3.1.0","info":{"title":"Teal API","version":"0.1"},"servers":[{"url":"https://api.sandbox.teal.dev","description":"Sandbox"},{"url":"https://api.teal.dev","description":"Production"}],"paths":{"/v0/platform/instances/{instance_id}":{"get":{"tags":["Instances"],"summary":"Get Instance Details","description":"Get detailed information about an instance.","operationId":"get_instance_details_v0_platform_instances__instance_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"instance_id","in":"path","required":true,"schema":{"type":"string","description":"The instance ID","title":"Instance Id"},"description":"The instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstanceDetails"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}},"delete":{"tags":["Instances"],"summary":"Delete Instance","description":"Delete an instance from the platform.","operationId":"delete_instance_v0_platform_instances__instance_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"instance_id","in":"path","required":true,"schema":{"type":"string","description":"The instance ID","title":"Instance Id"},"description":"The instance ID"}],"responses":{"204":{"description":"Successful Response"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/platform/instances/{instance_id}/subscription":{"put":{"tags":["Instances"],"summary":"Update Subscription","description":"Updates an instance's subscription level.","operationId":"update_subscription_v0_platform_instances__instance_id__subscription_put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"instance_id","in":"path","required":true,"schema":{"type":"string","description":"The instance ID","title":"Instance Id"},"description":"The instance ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSubscriptionUpdate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstanceDetails"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/platform/instances":{"post":{"tags":["Instances"],"summary":"Create Instance","description":"Create an instance on a platform.","operationId":"create_instance_v0_platform_instances_post","security":[{"OAuth2PasswordBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstanceCreate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstanceDetails"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}},"get":{"tags":["Instances"],"summary":"Get Instances","description":"Get all instances on the platform.","operationId":"get_instances_v0_platform_instances_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"accounting_package","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/AccountingPackage"},{"type":"null"}],"description":"The accounting backend of the instances to return","title":"Accounting Package"},"description":"The accounting backend of the instances to return"},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1,"exclusiveMaximum":101},{"type":"null"}],"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}.","default":50,"title":"Limit"},"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}."},{"name":"page_token","in":"query","required":false,"schema":{"type":"string","title":"Page Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstancePage"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/journal-entries/{journal_entry_id}":{"get":{"tags":["Journal Entries"],"summary":"Get Journal Entry","description":"Gets information about a journal entry.","operationId":"get_journal_entry_v0_journal_entries__journal_entry_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"journal_entry_id","in":"path","required":true,"schema":{"type":"string","description":"Journal entry ID","title":"Journal Entry Id"},"description":"Journal entry ID"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntry"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}},"put":{"tags":["Journal Entries"],"summary":"Update Journal Entry","description":"Update journal entry details or line entries. When updating line\nentries in the journal entry, debit and credit amounts must equal.","operationId":"update_journal_entry_v0_journal_entries__journal_entry_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"journal_entry_id","in":"path","required":true,"schema":{"type":"string","description":"Journal entry ID","title":"Journal Entry Id"},"description":"Journal entry ID"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntryUpdate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntry"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/journal-entries":{"get":{"tags":["Journal Entries"],"summary":"Get Journal Entries","description":"Get all journal entries for the instance.","operationId":"get_journal_entries_v0_journal_entries_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1,"exclusiveMaximum":101},{"type":"null"}],"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}.","default":50,"title":"Limit"},"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}."},{"name":"page_token","in":"query","required":false,"schema":{"type":"string","title":"Page Token"}},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntryPage"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}},"post":{"tags":["Journal Entries"],"summary":"Create Journal Entry","description":"Create a journal entry for an instance.","operationId":"create_journal_entry_v0_journal_entries_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntryCreate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntry"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/platform":{"get":{"tags":["Platform"],"summary":"Get Platform","description":"Get details about a platform.","operationId":"get_platform_v0_platform_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Platform"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/v0/line-entries/{line_entry_id}":{"put":{"tags":["Line Entries"],"summary":"Update Line Entry","description":"Update details about a line entry.","operationId":"update_line_entry_v0_line_entries__line_entry_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"line_entry_id","in":"path","required":true,"schema":{"type":"string","description":"The line entry ID","title":"Line Entry Id"},"description":"The line entry ID"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LineEntryUpdates"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedLineEntry"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/line-entries/{line_entry_id}/categories":{"get":{"tags":["Line Entries"],"summary":"Get Line Entry Categories","description":"Gets the category for a line entry. Requires Tier 1 subscription.","operationId":"get_line_entry_categories_v0_line_entries__line_entry_id__categories_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"line_entry_id","in":"path","required":true,"schema":{"type":"string","description":"The line entry ID","title":"Line Entry Id"},"description":"The line entry ID"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"title":"Response Get Line Entry Categories V0 Line Entries  Line Entry Id  Categories Get"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/journal-entries/{journal_entry_id}/line-entries":{"get":{"tags":["Line Entries"],"summary":"Get Journal Entry Line Entries","description":"Gets all the line entries in a journal entry.","operationId":"get_journal_entry_line_entries_v0_journal_entries__journal_entry_id__line_entries_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"journal_entry_id","in":"path","required":true,"schema":{"type":"string","description":"Journal entry ID","title":"Journal Entry Id"},"description":"Journal entry ID"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DetailedLineEntry"},"title":"Response Get Journal Entry Line Entries V0 Journal Entries  Journal Entry Id  Line Entries Get"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/ledgers/{ledger_id}/line-entries":{"get":{"tags":["Line Entries"],"summary":"Get Ledger Line Entries","description":"Return the line entries in the specified ledger for the period.","operationId":"get_filtered_line_entries_v0_ledgers__ledger_id__line_entries_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_id","in":"path","required":true,"schema":{"type":"string","description":"The ledger ID","title":"Ledger Id"},"description":"The ledger ID"},{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The start date of the period, inclusive","title":"Start Date"},"description":"The start date of the period, inclusive"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The end date of the period, inclusive","title":"End Date"},"description":"The end date of the period, inclusive"},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1,"exclusiveMaximum":101},{"type":"null"}],"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}.","default":50,"title":"Limit"},"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}."},{"name":"page_token","in":"query","required":false,"schema":{"type":"string","title":"Page Token"}},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedLinePage"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/sources/unit":{"post":{"tags":["Transaction Sources"],"summary":"Link Unit Account","description":"Link a ledger to a Unit account.","operationId":"link_unit_account_v0_sources_unit_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnitAccountLink"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnProcessingTask"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/sources/plaid":{"post":{"tags":["Transaction Sources"],"summary":"Link Plaid Account","description":"Link an external financial account via Plaid.","operationId":"create_plaid_link_v0_sources_plaid_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaidLinkCreate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnProcessingTask"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/sources/plaid/links/status":{"get":{"tags":["Transaction Sources"],"summary":"Get Plaid Link Statuses","description":"Returns the status of all Plaid connected financial account ledgers on the\nplatform.","operationId":"get_plaid_link_statuses_v0_sources_plaid_links_status_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1,"exclusiveMaximum":101},{"type":"null"}],"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}.","default":50,"title":"Limit"},"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}."},{"name":"page_token","in":"query","required":false,"schema":{"type":"string","title":"Page Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedgerLinkStatusPage"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/platform-gl/coa-templates":{"post":{"tags":["Chart of Accounts Templates"],"summary":"Create CoA Template","description":"Create a chart of accounts template.","operationId":"create_coa_template_v0_platform_gl_coa_templates_post","security":[{"OAuth2PasswordBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoaTemplateCreate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoaTemplate"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}},"get":{"tags":["Chart of Accounts Templates"],"summary":"Get CoA Templates","description":"Gets all Chart of Accounts templates for the platform.","operationId":"get_coa_templates_v0_platform_gl_coa_templates_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1,"exclusiveMaximum":101},{"type":"null"}],"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}.","default":50,"title":"Limit"},"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}."},{"name":"page_token","in":"query","required":false,"schema":{"type":"string","title":"Page Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoaTemplatePage"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/platform-gl/coa-templates/{coa_template_id}":{"get":{"tags":["Chart of Accounts Templates"],"summary":"Get CoA Template","description":"Get a detailed Chart of Account template.","operationId":"get_coa_template_v0_platform_gl_coa_templates__coa_template_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"coa_template_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the chart of accounts template","title":"Coa Template Id"},"description":"The ID of the chart of accounts template"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedCoaTemplate"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}},"delete":{"tags":["Chart of Accounts Templates"],"summary":"Delete CoA Template","description":"Delete a Chart of Accounts template.","operationId":"delete_coa_template_v0_platform_gl_coa_templates__coa_template_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"coa_template_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the ledger template","title":"Coa Template Id"},"description":"The ID of the ledger template"}],"responses":{"204":{"description":"Successful Response"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/platform-gl/coa-templates/{coa_template_id}/clone":{"post":{"tags":["Chart of Accounts Templates"],"summary":"Clone CoA Template","description":"Clone a Chart of Accounts template with all its ledgers templates.","operationId":"clone_coa_template_v0_platform_gl_coa_templates__coa_template_id__clone_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"coa_template_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the chart of accounts template to be cloned","title":"Coa Template Id"},"description":"The ID of the chart of accounts template to be cloned"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoaTemplateClone"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoaTemplate"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/platform-gl/coa-templates/{coa_template_id}/ledgers":{"post":{"tags":["Chart of Accounts Templates"],"summary":"Create Ledger Template","description":"Create a ledger template in a Chart of Accounts template.","operationId":"create_ledger_template_v0_platform_gl_coa_templates__coa_template_id__ledgers_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"coa_template_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the chart of accounts template.","title":"Coa Template Id"},"description":"The ID of the chart of accounts template."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedgerTemplateCreate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedgerTemplate"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/platform-gl/coa-templates/ledgers/{ledger_template_id}":{"put":{"tags":["Chart of Accounts Templates"],"summary":"Update CoA Ledger Template","description":"Update a ledger template in a Chart of Accounts template.","operationId":"update_ledger_template_v0_platform_gl_coa_templates_ledgers__ledger_template_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_template_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the ledger template.","title":"Ledger Template Id"},"description":"The ID of the ledger template."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedgerTemplateUpdate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedgerTemplate"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}},"delete":{"tags":["Chart of Accounts Templates"],"summary":"Delete Ledger Template","description":"Delete a ledger template in a Chart of Accounts template.","operationId":"delete_ledger_template_v0_platform_gl_coa_templates_ledgers__ledger_template_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_template_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the ledger template.","title":"Ledger Template Id"},"description":"The ID of the ledger template."}],"responses":{"204":{"description":"Successful Response"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/platform/categorization/rules":{"get":{"tags":["Categorization"],"summary":"Get Rules","description":"Get all the categorization rules for the platform.","operationId":"get_rules_v0_platform_categorization_rules_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1,"exclusiveMaximum":101},{"type":"null"}],"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}.","default":50,"title":"Limit"},"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}."},{"name":"page_token","in":"query","required":false,"schema":{"type":"string","title":"Page Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorizationRulePage"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}},"post":{"tags":["Categorization"],"summary":"Create Rule","description":"Creates a new categorization rule.","operationId":"create_rule_v0_platform_categorization_rules_post","security":[{"OAuth2PasswordBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorizationRuleCreate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorizationRule"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/platform/categorization/rules/{rule_id}":{"delete":{"tags":["Categorization"],"summary":"Delete Rule","description":"Deletes a categorization rule.","operationId":"delete_rule_v0_platform_categorization_rules__rule_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"rule_id","in":"path","required":true,"schema":{"type":"string","description":"The categorization rule ID","title":"Rule Id"},"description":"The categorization rule ID"}],"responses":{"204":{"description":"Successful Response"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/ledgers":{"get":{"tags":["Ledgers"],"summary":"Get Ledgers","description":"Return all ledgers for an instance.","operationId":"get_ledgers_v0_ledgers_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1,"exclusiveMaximum":101},{"type":"null"}],"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}.","default":50,"title":"Limit"},"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}."},{"name":"page_token","in":"query","required":false,"schema":{"type":"string","title":"Page Token"}},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedgerPage"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}},"post":{"tags":["Ledgers"],"summary":"Create Ledger","description":"Create a ledger for an instance.","operationId":"create_ledger_v0_ledgers_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedgerCreate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Ledger"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/ledgers/{ledger_id}":{"put":{"tags":["Ledgers"],"summary":"Update Ledger","description":"Update the attributes of a ledger.","operationId":"update_ledger_v0_ledgers__ledger_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_id","in":"path","required":true,"schema":{"type":"string","description":"The ledger ID","title":"Ledger Id"},"description":"The ledger ID"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedgerUpdate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Ledger"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/ledgers/{ledger_id}/opening-balance":{"post":{"tags":["Ledgers"],"summary":"Set Ledger Opening Balance","description":"Sets the opening balance for a ledger. The ledger must not have\nany line entries.","operationId":"set_ledger_opening_balance_v0_ledgers__ledger_id__opening_balance_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_id","in":"path","required":true,"schema":{"type":"string","description":"The ledger ID","title":"Ledger Id"},"description":"The ledger ID"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedgerUpdateOpeningBalance"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntry"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/reports/income-statement":{"get":{"tags":["Reports"],"summary":"Get Income Statement","description":"Get an income statement containing an array of ledger summaries for\nthe instance. Requires Tier 1 subscription.","operationId":"get_income_statement_v0_reports_income_statement_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The start date of the report, inclusive","title":"Start Date"},"description":"The start date of the report, inclusive"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The end date of the report, inclusive","title":"End Date"},"description":"The end date of the report, inclusive"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncomeStatement"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/reports/balance-sheet":{"get":{"tags":["Reports"],"summary":"Get Balance Sheet","description":"Get a balance sheet containing an array of ledger summaries for\nthe instance. Requires Tier 2 subscription.","operationId":"get_balance_sheet_v0_reports_balance_sheet_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"Balance as of the end date, inclusive","title":"End Date"},"description":"Balance as of the end date, inclusive"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BalanceSheet"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/reports/ledger-statement":{"get":{"tags":["Reports"],"summary":"Get Ledger Statement","description":"Get a ledger statement for the instance, containing the opening/closing\nbalances with line entries for the period.","operationId":"get_ledger_statement_v0_reports_ledger_statement_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_id","in":"query","required":true,"schema":{"type":"string","description":"The ledger ID","title":"Ledger Id"},"description":"The ledger ID"},{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The start date of the ledger statement, inclusive","title":"Start Date"},"description":"The start date of the ledger statement, inclusive"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The end date of the ledger statement, inclusive","title":"End Date"},"description":"The end date of the ledger statement, inclusive"},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1,"exclusiveMaximum":101},{"type":"null"}],"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}.","default":50,"title":"Limit"},"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}."},{"name":"page_token","in":"query","required":false,"schema":{"type":"string","title":"Page Token"}},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LedgerStatementPage"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/reports/cash-flow":{"get":{"tags":["Reports"],"summary":"Get Cash Flow Report","description":"Get the cash flow report for an instance within for a period. Requires\nTier 1 subscription.","operationId":"get_cash_flow_report_v0_reports_cash_flow_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The start date of the cash flow report, inclusive","title":"Start Date"},"description":"The start date of the cash flow report, inclusive"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The end date of the cash flow report, inclusive","title":"End Date"},"description":"The end date of the cash flow report, inclusive"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CashFlowReport"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/reports/cash-flow-totals":{"get":{"tags":["Reports"],"summary":"Get Cash Flow Totals by Period","description":"Get cash flow data between start date and end date partitioned by period.\nRequires Tier 1 subscription.","operationId":"get_cash_flow_totals_by_period_v0_reports_cash_flow_totals_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"period","in":"query","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/Period"}],"description":"The period that data is partitioned into","title":"Period"},"description":"The period that data is partitioned into"},{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The start date of the cash flow report, inclusive","title":"Start Date"},"description":"The start date of the cash flow report, inclusive"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The end date of the cash flow report, inclusive","title":"End Date"},"description":"The end date of the cash flow report, inclusive"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CashFlowTotals"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/reports/ledger-cash-flow-totals":{"get":{"tags":["Reports"],"summary":"Get Cash Flow Totals by Ledger","description":"Get cash flow data between start date and end date partitioned by ledger.\nRequires Tier 1 subscription.","operationId":"get_cash_flow_totals_by_ledger_v0_reports_ledger_cash_flow_totals_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The start date of the cash flow report, inclusive","title":"Start Date"},"description":"The start date of the cash flow report, inclusive"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The end date of the cash flow report, inclusive","title":"End Date"},"description":"The end date of the cash flow report, inclusive"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CashFlowTotals"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/reports/top-expenses":{"get":{"tags":["Reports"],"summary":"Get Top Expenses","description":"Get top expenses withing a given date range.","operationId":"get_top_expenses_v0_reports_top_expenses_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The start date of the cash flow report, inclusive","title":"Start Date"},"description":"The start date of the cash flow report, inclusive"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The end date of the cash flow report, inclusive","title":"End Date"},"description":"The end date of the cash flow report, inclusive"},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"The number of results to return","title":"Limit"},"description":"The number of results to return"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopExpenses"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/reports/net-profit-by-period":{"get":{"tags":["Reports"],"summary":"Get Net Profit by Period","description":"Get net profit by period withing a given date range.","operationId":"get_net_profit_by_period_v0_reports_net_profit_by_period_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"period","in":"query","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/Period"}],"description":"The period that data is partitioned into","title":"Period"},"description":"The period that data is partitioned into"},{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The start date of the report, inclusive","title":"Start Date"},"description":"The start date of the report, inclusive"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The end date of the report, inclusive","title":"End Date"},"description":"The end date of the report, inclusive"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetProfit"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/reports/gross-profit-by-period":{"get":{"tags":["Reports"],"summary":"Get Gross Profit by Period","description":"Get gross profit by period withing a given date range.","operationId":"get_gross_profit_by_period_v0_reports_gross_profit_by_period_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"period","in":"query","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/Period"}],"description":"The period that data is partitioned into","title":"Period"},"description":"The period that data is partitioned into"},{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The start date of the report, inclusive","title":"Start Date"},"description":"The start date of the report, inclusive"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The end date of the report, inclusive","title":"End Date"},"description":"The end date of the report, inclusive"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrossProfit"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/reports/financial-summaries-by-period":{"get":{"tags":["Reports"],"summary":"Get Financial Summaries by Period","description":"Get financial summaries by period withing a given date range.","operationId":"get_financial_summaries_by_period_v0_reports_financial_summaries_by_period_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"period","in":"query","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/Period"}],"description":"The period that data is partitioned into","title":"Period"},"description":"The period that data is partitioned into"},{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The start date of the report, inclusive","title":"Start Date"},"description":"The start date of the report, inclusive"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"The end date of the report, inclusive","title":"End Date"},"description":"The end date of the report, inclusive"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialSummary"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/transactions":{"post":{"tags":["Transactions"],"summary":"Create Transactions","description":"Creates transactions into a ledger. Returns one transaction\nprocessing per unique ledger in the list of transactions.","operationId":"create_transactions_v0_transactions_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransactionCreate"},"description":"The transactions to be created","title":"Transactions"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TxnProcessingTask"},"title":"Response Create Transactions V0 Transactions Post"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}},"get":{"tags":["Transactions"],"summary":"Get Transactions","description":"Gets a page of transactions in a ledger.","operationId":"get_transactions_v0_transactions_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The ID for the ledger that contains the transactions.","title":"Ledger Id"},"description":"The ID for the ledger that contains the transactions."},{"name":"review_status","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/ReviewStatus"},{"type":"null"}],"description":"The review status of the transaction.","title":"Review Status"},"description":"The review status of the transaction."},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1,"exclusiveMaximum":101},{"type":"null"}],"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}.","default":50,"title":"Limit"},"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}."},{"name":"page_token","in":"query","required":false,"schema":{"type":"string","title":"Page Token"}},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionPage"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/transactions/tasks/{task_id}":{"get":{"tags":["Transactions"],"summary":"Get Transaction Processing Status","description":"Checks the status of processing transactions.","operationId":"get_transaction_processing_status_v0_transactions_tasks__task_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the transaction processing task","title":"Task Id"},"description":"The ID of the transaction processing task"},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnProcessingTask"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/transactions/{transaction_id}":{"delete":{"tags":["Transactions"],"summary":"Delete Transaction","description":"Delete a transaction and associated journal entry.","operationId":"delete_transaction_v0_transactions__transaction_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"transaction_id","in":"path","required":true,"schema":{"type":"string","description":"The ID for the transaction to be deleted.","title":"Transaction Id"},"description":"The ID for the transaction to be deleted."},{"name":"ledger_id","in":"query","required":true,"schema":{"type":"string","description":"The ID for the ledger that contains the transactions.","title":"Ledger Id"},"description":"The ID for the ledger that contains the transactions."},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"204":{"description":"Successful Response"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}},"put":{"tags":["Transactions"],"summary":"Update Transaction Status","description":"Update the status of a transaction.","operationId":"update_transaction_v0_transactions__transaction_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"transaction_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the transaction.","title":"Transaction Id"},"description":"The ID of the transaction."},{"name":"ledger_id","in":"query","required":true,"schema":{"type":"string","description":"The ID of the ledger that contains the transaction.","title":"Ledger Id"},"description":"The ID of the ledger that contains the transaction."},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionUpdate"}}}},"responses":{"204":{"description":"Successful Response"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/transactions/categories":{"get":{"tags":["Transactions"],"summary":"Get Categorized Transactions","description":"Gets a page of categorized transactions.","operationId":"get_categorized_transactions_v0_transactions_categories_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"ledger_id","in":"query","required":true,"schema":{"type":"string","description":"The ID for the ledger that contains the transactions.","title":"Ledger Id"},"description":"The ID for the ledger that contains the transactions."},{"name":"review_status","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/ReviewStatus"},{"type":"null"}],"description":"The review status of the transaction.","title":"Review Status"},"description":"The review status of the transaction."},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1,"exclusiveMaximum":101},{"type":"null"}],"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}.","default":50,"title":"Limit"},"description":"The number of records to return. Max limit is ${config.TEAL_API_MAX_PAGE_SIZE}."},{"name":"page_token","in":"query","required":false,"schema":{"type":"string","title":"Page Token"}},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorizedTransactionPage"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/transactions/{transaction_id}/categories":{"get":{"tags":["Transactions"],"summary":"Get Transaction Categories","description":"Gets the categories for a transaction","operationId":"get_transaction_categories_v0_transactions__transaction_id__categories_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"transaction_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the transaction.","title":"Transaction Id"},"description":"The ID of the transaction."},{"name":"ledger_id","in":"query","required":true,"schema":{"type":"string","description":"The ID of the ledger that contains the transaction.","title":"Ledger Id"},"description":"The ID of the ledger that contains the transaction."},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorizedTransaction"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}},"put":{"tags":["Transactions"],"summary":"Recategorize Transaction","description":"Recategorize a transaction.","operationId":"recategorize_transaction_v0_transactions__transaction_id__categories_put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"transaction_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the transaction.","title":"Transaction Id"},"description":"The ID of the transaction."},{"name":"ledger_id","in":"query","required":true,"schema":{"type":"string","description":"The ID of the ledger that contains the transaction.","title":"Ledger Id"},"description":"The ID of the ledger that contains the transaction."},{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionCategoryUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorizedTransaction"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/quickbooks/auth-link":{"post":{"tags":["Quickbooks"],"summary":"Generate QuickBooks Auth Link","description":"Generate the authentication link for connecting a QuickBooks account.","operationId":"generate_auth_link_v0_quickbooks_auth_link_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickBooksAuthLinkCreate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickBooksAuthLink"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/quickbooks/account":{"post":{"tags":["Quickbooks"],"summary":"Link Account","description":"Create a QuickBooks account mapping and return the associated Ledger","operationId":"link_account_v0_quickbooks_account_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickBooksAccountMappingCreate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Ledger"}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}},"/v0/quickbooks/sync-transactions":{"post":{"tags":["Quickbooks"],"summary":"Force Transaction Sync","description":"Force syncing of QuickBook transactions.","operationId":"force_sync_qb_transactions_v0_quickbooks_sync_transactions_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"teal-instance-id","in":"header","required":true,"schema":{"type":"string","description":"The Teal instance ID","title":"Teal-Instance-Id"},"description":"The Teal instance ID"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TealErrorResponse"}}},"description":"Service Unavailable"}}}}},"webhooks":{"/v0transaction.source.processing.error":{"post":{"tags":["Webhooks"],"summary":"Transaction Source Processing Error","description":"If an error is encountered while syncing transactions with a source (ex. Plaid),\nan HTTP POST request with a body following this schema will be sent to your\nregistered webhook URL.","operationId":"transaction_source_processing_error_v0transaction_source_processing_error_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionSourceProcessingError"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v0transaction.source.processing.completed":{"post":{"tags":["Webhooks"],"summary":"Transaction Source Processing Complete","description":"Upon successful completion of a transaction sync with a source (ex. Plaid),\nan HTTP POST request with a body following this schema will be sent to your\nregistered webhook URL.","operationId":"transaction_source_processing_complete_v0transaction_source_processing_completed_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionSourceProcessingComplete"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AccountingPackage":{"type":"string","enum":["platformgl","quickbooks"],"title":"AccountingPackage"},"BalanceSheet":{"properties":{"records":{"items":{"$ref":"#/components/schemas/ReportRecord"},"type":"array","title":"Records"}},"type":"object","required":["records"],"title":"BalanceSheet"},"BaseLineEntry":{"properties":{"ledger_id":{"type":"string","title":"Ledger Id","example":"FZo8uxfiKS9AZ6N6Eujwut"},"amount":{"anyOf":[{"type":"number"},{"type":"string"}],"title":"Amount","example":382.28},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCredit"}],"description":"Whether the amount is a credit or debit.","example":"credit"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Description of a line entry."}},"type":"object","required":["ledger_id","amount","debit_credit"],"title":"BaseLineEntry"},"CashFlowLedger":{"properties":{"ledger_id":{"type":"string","title":"Ledger Id","example":"Jg8XPxz23f2XtHKPFsocrX"},"name":{"type":"string","title":"Name","description":"The name of the ledger.","example":"Credit Card 3821"},"debit_total":{"type":"string","title":"Debit Total","description":"The sum debit amount of the ledger.","example":-1032.23},"lines":{"items":{"$ref":"#/components/schemas/CashFlowLineEntry"},"type":"array","title":"Lines"},"parent_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Parent Id","example":"UUbwp3vRvbPUd2dwHaqWgU"},"children":{"anyOf":[{"type":"array"},{"type":"null"}],"title":"Children","description":"A list of child cash flow ledgers"}},"type":"object","required":["ledger_id","name","debit_total","lines","parent_id","children"],"title":"CashFlowLedger"},"CashFlowLineEntry":{"properties":{"line_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Line Id","example":"AVwBwWUkSAdR8oPwnVj3Rg"},"journal_entry_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Journal Entry Id","example":"SC73Q4V2MKsX8rAimPv4qs"},"journal_entry_description":{"type":"string","title":"Journal Entry Description","example":"Payment for contractor"},"cash_flow_ledger_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cash Flow Ledger Name","example":"Credit Card 3821"},"debit_amount":{"type":"string","title":"Debit Amount","description":"The debit amount of the line entry.","example":-2938.28},"datetime":{"type":"string","format":"date-time","title":"Datetime","description":"The datetime that the line entry occurred.","example":"2022-01-01T00:00:00Z"}},"type":"object","required":["line_id","journal_entry_id","journal_entry_description","cash_flow_ledger_name","debit_amount","datetime"],"title":"CashFlowLineEntry"},"CashFlowReport":{"properties":{"starting_debit_balance":{"type":"string","title":"Starting Debit Balance","example":23282.12},"starting_balances":{"items":{"$ref":"#/components/schemas/CashLedgerBalance"},"type":"array","title":"Starting Balances"},"ending_debit_balance":{"type":"string","title":"Ending Debit Balance","example":28182.42},"ending_balances":{"items":{"$ref":"#/components/schemas/CashLedgerBalance"},"type":"array","title":"Ending Balances"},"cash_flow_ledgers":{"items":{"$ref":"#/components/schemas/CashFlowLedger"},"type":"array","title":"Cash Flow Ledgers"}},"type":"object","required":["starting_debit_balance","starting_balances","ending_debit_balance","ending_balances","cash_flow_ledgers"],"title":"CashFlowReport"},"CashFlowTotalEntry":{"properties":{"name":{"type":"string","title":"Name","example":"Jan 2023"},"balance":{"type":"string","title":"Balance","example":100},"net_cash_flow":{"type":"string","title":"Net Cash Flow","example":100}},"type":"object","required":["name","balance","net_cash_flow"],"title":"CashFlowTotalEntry"},"CashFlowTotals":{"properties":{"starting_balance":{"type":"string","title":"Starting Balance","example":100},"ending_balance":{"type":"string","title":"Ending Balance","example":100},"entries":{"items":{"$ref":"#/components/schemas/CashFlowTotalEntry"},"type":"array","title":"Entries"}},"type":"object","required":["starting_balance","ending_balance","entries"],"title":"CashFlowTotals"},"CashLedgerBalance":{"properties":{"sort_code":{"type":"string","title":"Sort Code","example":"5300"},"ledger_id":{"type":"string","title":"Ledger Id","example":"FwLHD46VLJXx87oStFW7uz"},"ledger_name":{"type":"string","title":"Ledger Name","example":"Savings Account 3822"},"debit_balance":{"type":"string","title":"Debit Balance","example":3822.83},"parent_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Parent Id","example":"UUbwp3vRvbPUd2dwHaqWgU"},"children":{"anyOf":[{"type":"array"},{"type":"null"}],"title":"Children","description":"A list of child cash flow ledger balances"}},"type":"object","required":["sort_code","ledger_id","ledger_name","debit_balance","parent_id","children"],"title":"CashLedgerBalance"},"CategorizationRule":{"properties":{"id":{"type":"string","title":"Id","example":"N6ntpvTtiA4L31vVyVat5n"},"name":{"type":"string","title":"Name","example":"Fuel Expenses"},"expression":{"type":"string","title":"Expression","example":"t.description == Fuel"},"priority":{"type":"integer","title":"Priority","example":100},"ledger_name":{"type":"string","title":"Ledger Name","example":"Fuel Expenses"}},"type":"object","required":["id","name","expression","priority","ledger_name"],"title":"CategorizationRule"},"CategorizationRuleCreate":{"properties":{"name":{"type":"string","title":"Name","description":"The name of the rule."},"expression":{"type":"string","title":"Expression","description":"The expression to match on transactions."},"priority":{"type":"integer","title":"Priority","description":"The priority of the rule."},"ledger_name":{"type":"string","title":"Ledger Name","description":"The name of the destination ledger."}},"type":"object","required":["name","expression","priority","ledger_name"],"title":"CategorizationRuleCreate"},"CategorizationRulePage":{"properties":{"next_page_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Page Token","description":"The token to use to request the next page"},"prev_page_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prev Page Token","description":"The token to use to request the previous page"},"records":{"items":{"$ref":"#/components/schemas/CategorizationRule"},"type":"array","title":"Records","description":"List of categorization rules"}},"type":"object","required":["next_page_token","prev_page_token","records"],"title":"CategorizationRulePage"},"CategorizedTransaction":{"properties":{"transaction":{"$ref":"#/components/schemas/Transaction"},"categories":{"items":{"$ref":"#/components/schemas/Category"},"type":"array","title":"Categories"},"ledger":{"$ref":"#/components/schemas/Ledger"}},"type":"object","required":["transaction","categories","ledger"],"title":"CategorizedTransaction"},"CategorizedTransactionPage":{"properties":{"next_page_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Page Token","description":"The token to use to request the next page"},"prev_page_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prev Page Token","description":"The token to use to request the previous page"},"records":{"items":{"$ref":"#/components/schemas/CategorizedTransaction"},"type":"array","title":"Records","description":"A list of categorized transactions"}},"type":"object","required":["next_page_token","prev_page_token","records"],"title":"CategorizedTransactionPage"},"Category":{"properties":{"ledger_id":{"type":"string","title":"Ledger Id","description":"The ledger ID.","example":"WhvrC7XAES1fDrpWWgmPtg"},"ledger_name":{"type":"string","title":"Ledger Name","description":"The name of the ledger.","example":"Credit Card 3821"}},"type":"object","required":["ledger_id","ledger_name"],"title":"Category"},"CoaTemplate":{"properties":{"id":{"type":"string","title":"Id","example":"PpvsmFEv14yGDyT6iV6kXw"},"name":{"type":"string","title":"Name","example":"Coffee Shop Sole Prop"}},"type":"object","required":["id","name"],"title":"CoaTemplate"},"CoaTemplateClone":{"properties":{"name":{"type":"string","title":"Name","description":"The name of the cloned chart of account template"}},"type":"object","required":["name"],"title":"CoaTemplateClone"},"CoaTemplateCreate":{"properties":{"name":{"type":"string","title":"Name","description":"The name of the chart of account template"}},"type":"object","required":["name"],"title":"CoaTemplateCreate"},"CoaTemplatePage":{"properties":{"next_page_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Page Token","description":"The token to use to request the next page"},"prev_page_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prev Page Token","description":"The token to use to request the previous page"},"records":{"items":{"$ref":"#/components/schemas/CoaTemplate"},"type":"array","title":"Records","description":"List of CoA templates"}},"type":"object","required":["next_page_token","prev_page_token","records"],"title":"CoaTemplatePage"},"DebitCredit":{"type":"string","enum":["debit","credit"],"title":"DebitCredit"},"DetailedCoaTemplate":{"properties":{"id":{"type":"string","title":"Id","example":"PpvsmFEv14yGDyT6iV6kXw"},"name":{"type":"string","title":"Name","example":"Coffee Shop Sole Prop"},"ledgers":{"items":{"$ref":"#/components/schemas/LedgerTemplate"},"type":"array","title":"Ledgers","description":"A list of ledgers that are included in this chart of accounts."}},"type":"object","required":["id","name","ledgers"],"title":"DetailedCoaTemplate"},"DetailedLineEntry":{"properties":{"ledger_id":{"type":"string","title":"Ledger Id","example":"FZo8uxfiKS9AZ6N6Eujwut"},"amount":{"type":"string","title":"Amount","example":382.28},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCredit"}],"description":"Whether the amount is a credit or debit.","example":"credit"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Description of a line entry."},"transaction_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Transaction Id","description":"The transaction ID associated with the line entry."},"related_line_entry_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Related Line Entry Id","description":"The line entry ID of a related line entry."},"id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Id","example":"XMDsKVuW4Wmi3LTW31Qw6E"},"journal_entry_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Journal Entry Id","example":"JFqZgayQehL9wBbyLrGd4A"},"journal_entry_description":{"type":"string","title":"Journal Entry Description","example":"August payroll"},"ledger_name":{"type":"string","title":"Ledger Name","example":"Salaries And Wages Expense"},"editable":{"type":"boolean","title":"Editable","description":"Indicates whether this line entry may be edited by the user."},"datetime":{"type":"string","format":"date-time","title":"Datetime","description":"The datetime that the line entry occurred."}},"type":"object","required":["ledger_id","amount","debit_credit","description","transaction_id","related_line_entry_id","id","journal_entry_id","journal_entry_description","ledger_name","editable","datetime"],"title":"DetailedLineEntry"},"DetailedLinePage":{"properties":{"next_page_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Page Token","description":"The token to use to request the next page"},"prev_page_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prev Page Token","description":"The token to use to request the previous page"},"records":{"items":{"$ref":"#/components/schemas/DetailedLineEntry"},"type":"array","title":"Records"}},"type":"object","required":["next_page_token","prev_page_token","records"],"title":"DetailedLinePage"},"FinancialAccountType":{"type":"string","enum":["bank_account","credit_card","payments","payroll","loan","prepaid_card","accounts_receivable","accounts_payable"],"title":"FinancialAccountType"},"FinancialSummary":{"properties":{"summary":{"$ref":"#/components/schemas/FinancialSummaryTotalRecord"},"entries":{"items":{"$ref":"#/components/schemas/FinancialSummaryPeriodRecord"},"type":"array","title":"Entries"}},"type":"object","required":["summary","entries"],"title":"FinancialSummary"},"FinancialSummaryPeriodRecord":{"properties":{"period":{"type":"string","title":"Period","example":"Jan 2023"},"totals":{"$ref":"#/components/schemas/FinancialSummaryTotalRecord"}},"type":"object","required":["period","totals"],"title":"FinancialSummaryPeriodRecord"},"FinancialSummaryTotalRecord":{"properties":{"revenue":{"type":"string","title":"Revenue","example":120000},"expense":{"type":"string","title":"Expense","example":60000},"operating_revenue":{"type":"string","title":"Operating Revenue","example":100000},"cost_of_goods_sold":{"type":"string","title":"Cost Of Goods Sold","example":30000},"gross_profit":{"type":"string","title":"Gross Profit","example":70000},"percent_gross_margin":{"type":"string","title":"Percent Gross Margin","example":70},"net_profit":{"type":"string","title":"Net Profit","example":60000},"percent_profit_margin":{"type":"string","title":"Percent Profit Margin","example":50}},"type":"object","required":["revenue","expense","operating_revenue","cost_of_goods_sold","gross_profit","percent_gross_margin","net_profit","percent_profit_margin"],"title":"FinancialSummaryTotalRecord"},"GeneralError":{"properties":{"error_type":{"type":"string","title":"Error Type","description":"The error type.","example":"API_ERROR"},"error_message":{"type":"string","title":"Error Message","description":"The error message.","example":"An unexpected error occurred."}},"type":"object","required":["error_type","error_message"],"title":"GeneralError"},"GrossProfit":{"properties":{"entries":{"items":{"$ref":"#/components/schemas/GrossProfitRecord"},"type":"array","title":"Entries"}},"type":"object","required":["entries"],"title":"GrossProfit"},"GrossProfitRecord":{"properties":{"period":{"type":"string","title":"Period","example":"Jan 2023"},"totals":{"additionalProperties":{"type":"string"},"type":"object","title":"Totals","example":{"cost_of_goods_sold":"300","gross_profit":"700","operating_revenue":"1000"}}},"type":"object","required":["period","totals"],"title":"GrossProfitRecord"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"IncomeStatement":{"properties":{"records":{"anyOf":[{"items":{"$ref":"#/components/schemas/ReportRecord"},"type":"array"},{"type":"null"}],"title":"Records","description":"A list of child records records"}},"type":"object","required":["records"],"title":"IncomeStatement"},"Instance":{"properties":{"id":{"type":"string","title":"Id","example":"RKtPbubK5NcbBsUmU1ktSP"},"name":{"type":"string","title":"Name","example":"City Center Veterinarian"}},"type":"object","required":["id","name"],"title":"Instance"},"InstanceCreate":{"properties":{"name":{"type":"string","title":"Name","example":"City Center Veterinarian"},"accounting_package":{"allOf":[{"$ref":"#/components/schemas/AccountingPackage"}],"description":"The accounting package for this instance","example":"platformgl"},"coa_template_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Coa Template Id","example":"CNmWM3X6AcvRdEwZKxq4bL"},"entries_start":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Entries Start","description":"The datetime when journal entries may start"},"subscription":{"allOf":[{"$ref":"#/components/schemas/SubscriptionLevel"}],"description":"The subscription level for this instance","default":"tier0","example":"tier1"}},"type":"object","required":["name","accounting_package"],"title":"InstanceCreate"},"InstanceDetails":{"properties":{"id":{"type":"string","title":"Id","example":"QhAnDBvCX1CUgB8cAjXEgf"},"name":{"type":"string","title":"Name","example":"John Doe"},"subscription":{"allOf":[{"$ref":"#/components/schemas/SubscriptionLevel"}],"example":"tier1"},"entries_start":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Entries Start","description":"The earliest possible datetime for the instance's journal entries","example":"2022-01-01T00:00:00Z"},"first_transaction_datetime":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"First Transaction Datetime","description":"The datetime of the first transaction."},"last_transaction_datetime":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Transaction Datetime","description":"The datetime of the last transaction."},"num_transactions":{"type":"integer","title":"Num Transactions","description":"The number of transactions for the instance.","example":"0"}},"type":"object","required":["id","name","subscription","entries_start","first_transaction_datetime","last_transaction_datetime","num_transactions"],"title":"InstanceDetails"},"InstancePage":{"properties":{"next_page_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Page Token","description":"The token to use to request the next page"},"prev_page_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prev Page Token","description":"The token to use to request the previous page"},"records":{"items":{"$ref":"#/components/schemas/Instance"},"type":"array","title":"Records","description":"List of instances"}},"type":"object","required":["next_page_token","prev_page_token","records"],"title":"InstancePage"},"JournalEntry":{"properties":{"id":{"type":"string","title":"Id","example":"C4ocnUQze8kDwQ3EczkZXn"},"description":{"type":"string","title":"Description","example":"Payment of legal fees"},"datetime":{"type":"string","format":"date-time","title":"Datetime","description":"Date that the journal entry occurred","example":"2022-01-01T00:00:00Z"}},"type":"object","required":["id","description","datetime"],"title":"JournalEntry"},"JournalEntryCreate":{"properties":{"datetime":{"type":"string","format":"date-time","title":"Datetime","description":"The date that the journal entry occurred"},"description":{"type":"string","title":"Description","description":"A description of the journal entry"},"line_entries":{"items":{"$ref":"#/components/schemas/BaseLineEntry"},"type":"array","title":"Line Entries","description":"Line entries in the journal entry"}},"type":"object","required":["datetime","description","line_entries"],"title":"JournalEntryCreate"},"JournalEntryPage":{"properties":{"next_page_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Page Token","description":"The token to use to request the next page"},"prev_page_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prev Page Token","description":"The token to use to request the previous page"},"records":{"items":{"$ref":"#/components/schemas/JournalEntry"},"type":"array","title":"Records","description":"List of journal entries"}},"type":"object","required":["next_page_token","prev_page_token","records"],"title":"JournalEntryPage"},"JournalEntryUpdate":{"properties":{"datetime":{"type":"string","format":"date-time","title":"Datetime","description":"The date that the journal entry occurred"},"description":{"type":"string","title":"Description","description":"A description of the journal entry"},"line_entry_changes":{"allOf":[{"$ref":"#/components/schemas/LineEntryChanges"}],"description":"Line entries in the journal entry"}},"type":"object","required":["datetime","description","line_entry_changes"],"title":"JournalEntryUpdate"},"Ledger":{"properties":{"id":{"type":"string","title":"Id","example":"7JRNsKwy2Lw66caxVU7WGC"},"sort_code":{"type":"string","title":"Sort Code","example":"2003"},"name":{"type":"string","title":"Name","example":"Accounts Receivable"},"type":{"allOf":[{"$ref":"#/components/schemas/LedgerType"}],"example":"asset"},"sub_type":{"allOf":[{"$ref":"#/components/schemas/LedgerSubType"}],"example":"current_assets"},"debit_credit":{"allOf":[{"$ref":"#/components/schemas/DebitCredit"}],"description":"Whether the amount is a credit or debit.","example":"debit"},"editable":{"type":"boolean","title":"Editable","description":"Indicates whether line entries in this ledger may be edited","example":false},"financial_account_type":{"anyOf":[{"$ref":"#/components/schemas/FinancialAccountType"},{"type":"null"}],"description":"The type of financial account represented by the ledger."},"is_required":{"type":"boolean","title":"Is Required","description":"Indicates whether this is a required ledger for all users.","example":f
[...]
